#account
{
	background-color: #fff;
}

.account-body
{
	.account-content
	{
		min-height: 100vh;
		.row
		{
			display: flex;
			flex-wrap: wrap;
			.col-md-3.offre
			{
				padding-bottom: 5%;
  			.panel
  			{
					cursor: pointer;
					padding: 0;
					border-radius: 25px 5px 5px 5px;
					border: none;
					box-shadow: 2px 2px 10px #0005;
					display: flex;
					flex-direction: column;
					justify-content: space-around;
					background: linear-gradient(45deg, #eee 30%, #fff 90%);
					height: 100%;
      		.panel-heading
      		{
      			img
      			{
      				height: 60px;
							width: 60px;
							border-radius: 50%;
							object-fit: cover;
							position: absolute;
							top: 0px;
							left: 0px;
							box-shadow: 3px 3px 5px #0005;
							border: 2px solid #fff;
      			}
      			h3
      			{
      				text-align: center;
      				// 	margin-left: 50px;
      				word-wrap: anywhere;
  						p
  						{
  							font-size: 36px;
  							line-height: 1;
  						}
      			}
      		}
      		.panel-body
      		{
      			p
      			{
      				line-height: 1.5;
      				//text-align: justify;
      				white-space: pre-line;
      				strong *
      				{
  							font-size: 1.5rem;
  							line-height: 2;
  							margin: 0;
      				}
      			}
      		}
  			}
			}
		}
	}
}
