.container
{
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	margin: 0 auto;
	background-color: #fff;
	z-index: 1000;
	.list-group {
		margin: 0;
		ul {
			display: flex;
			flex-flow: row;
			justify-content: space-around;
			align-items: center;
			list-style: none;
			li {
				cursor: pointer;
				text-transform: uppercase;
				text-align: center;
				margin: 0 5px;
				a {
					color: #ff0066;
					background-color: #555;
					border-radius: 0;
					border: 0;
					box-shadow: 0 3px 5px 2px #5553;
				}
			}
			li>img {
				padding-right: 5%;
			}
		}
	}
}

::ng-deep.modal-dialog
{
	margin-top: 90px;
	h2
	{
		text-align: center;
	}
}

.container {
	padding-top: 2%;
}

h3 {
		font-weight: 300;
		color: #131313;
}

.menu-candidat
{
	position: fixed;
	z-index: 1000;
	padding-top: 90px;
	width:100%;
	transition: all 1s;
	a
	{
		margin: 5px 20px;
	}
	.hider
	{
		display: inline;
		transition: all 1s;
	}
}

@media (max-width: 768px) {
	.container
	{
		width: 100%;
		.list-group {
				ul {
					flex-flow: column;
					li {
							margin: 1px auto;
							a {
								font-size: 1rem;
								line-height: 20px;
							}
					}
				}
	 	}
	}
	
	.menu-candidat
	{
		.hider
		{
			display: none;
			transition: all 1s;
		}
	}
	
}
