<section id="about" class="">
    <div class="text-center container" style="padding-top: 120px;">

        <!-- <div 
            class="row"
            data-aos="fade-right" 
            data-aos-duration="1000" 
            data-aos-delay="1500">
            <h2>
                La société CODE est créée en 2020 pour accompagner les entreprises adoptant TALENTA Sourcing dans leur démarche innovante de recrutement. 
            </h2>
        </div> -->
        <div
            class="row"
            data-aos="fade-right"
            data-aos-duration="1000"
            data-aos-delay="1500">
            <div class="jumbotron">
                <!-- <h1>TALENTA Sourcing</h1> -->
                <img src="assets/img/logo-trans.png" alt="logo_talenta"
                    style="width: 40%;">
                <h3>C’est une application web de recrutement à distance</h3>
            </div>
        </div>
        <div
            class="row middleAbout text-center"
            data-aos="fade-up"
            data-aos-duration="1000"
            data-aos-delay="500">
            
            <div class="col-md-6 col-sm-12 col-xs-12">
                <h2
                    data-aos="fade-left"
                    data-aos-duration="1000"
                    data-aos-delay="0">
                    <em>Le recruteur est enfin au cœur de son métier et la
                        préselection se fait 100% en ligne.
                    </em>
                </h2>
            </div>
            <!--
            <div class="col-md-6 col-sm-12 col-xs-12">
                <h2
                    data-aos="fade-left"
                    data-aos-duration="1000"
                    data-aos-delay="0">
                    <em>Le recruteur est enfin au cœur de son métier et la
                        préselection se fait 100% en ligne.
                    </em>
                </h2>
            </div>
            -->
        </div>
        <div
            class="row right"
            data-aos="flip-up"
            data-aos-duration="1000"
            data-aos-delay="500">
            <div class="jumbotron">
                <p>TALENTA sourcing est un outil de recrutement destiné à toutes
                    les entreprises sans exception. La sélection à distance des
                    profils compétents et à la fois motivés devient possible
                    grâce aux tests sur mesure à l’image de l’entreprise.</p>
            </div>
        </div>
        <div
            class="row left"
            data-aos="flip-down"
            data-aos-duration="1000"
            data-aos-delay="500">
            <div class="jumbotron">
                <p>En quelques clics, l’entreprise peut mettre en ligne les
                    offres d’emploi et les tests pour que les candidats y
                    accèdent en toute simplicité.</p>
            </div>
        </div>
        <div
            class="row right"
            data-aos="flip-left"
            data-aos-duration="1000"
            data-aos-delay="500">
            <div class="jumbotron">
                <p>Adopter TALENTA sourcing, c’est éviter les tâches
                    répétitives, ce qui rend le processus de recrutement simple
                    et intuitif.</p>
            </div>
        </div>
        <div
            class="row left"
            data-aos="flip-right"
            data-aos-duration="1000"
            data-aos-delay="500">
            <div class="jumbotron">
                <p>Facile d’utilisation et accessible à tous les chercheurs
                    d’emplois dans le monde, l’outil valorise les talents de
                    ceux en quête de nouveaux challenges en leur donnant
                    l’espace nécessaire pour décrire leur parcours de vie avant
                    d’effectuer les tests.</p>
            </div>
        </div>

        <div
            style="margin: 25px auto;"
            data-aos="fade-up"
            data-aos-duration="1000"
            data-aos-delay="500">
            <a
                target="_blank"
                href="assets/docs/conformite-RGPD.docx"
                class="btn btn-spec">
                Ethique et Conformité
            </a>
        </div>

    </div>

    <div id="partenaires" style="padding-top: 80px;">
        <div
            class="text-content"
            data-aos="fade-up"
            data-aos-duration="500"
            data-aos-delay="0"
            data-aos-offset="0">
            <h3
                class="comment text-center"
                style="font-family: var(--ff-lucida)">
                NOS PARTENAIRES
            </h3>
        </div>

        <div class="container">
            <div class="bg-partenaire">

                <carousel
                    [loop]="true"
                    [autoplay]="true"
                    [autoplayInterval]="3000"
                    [pauseOnHover]="true"
                    [cellWidth]="250"
                    [height]="250"
                    [margin]="50">
                    <div class="carousel-cell" *ngFor="let part of partenaires">
                        <!--                
                    <img
                        src="assets/img/{{part.img}}"
                        [tooltip]="popTemplate"
                        container="body"
                        containerClass="tooltipClass"
                        [adaptivePosition]="false"
                        placement="top"
                        class="tooltp"
                        (click)="goToPartenaire(part.link)">
                    -->
                    <img
                    src="assets/img/talenta_logo.jpg"
                    [tooltip]="popTemplate"
                    container="body"
                    containerClass="tooltipClass"
                    [adaptivePosition]="false"
                    placement="top"
                    class="tooltp"
                    style="border-radius: 5px;"
                    >

                    <ng-template #popTemplate>
                    <div>
                        <h2>Talenta</h2>
                        <!--<h2>{{part.name}}</h2>-->
                        <p>{{part.desc}}</p>
                    </div>
                    </ng-template>
                            </div>
                </carousel>
            </div>
        </div>
    </div>


    <!--
            <p 
            	data-aos="fade-up" 
            	data-aos-duration="1000" 
            	data-aos-delay="0" 
            	data-aos-offset="0">
            	<strong>Comment trouver le candidat idéal, en particulier dans les métiers en tension ?
                    Qu’il
                    s’agisse de recruter un commercial, un comptable ou un acheteur, tout DRH s’est déjà trouvé
                    confronté à
                    ce problème. <a href="#">Talenta Sourcing</a>, une joint-venture entre The MOOC Agency et
                    Talentapeople,
                    est une toute nouvelle plateforme digitale qui propose une solution innovante : plutôt que de
                    transmettre aux entreprises des CV en nombre, elle qualifie, en amont, les candidats via des tests
                    de
                    compétences. Le but : ne proposer aux entreprises que des profils ayant démontré leur motivation et
                    leurs compétences.</strong></p>
            <p
            	class="text-center"
            	data-aos="fade-up" 
            	data-aos-duration="1000" 
            	data-aos-delay="0" >
            	Talenta Sourcing propose deux approches : 
            </p>
            <h3
            	data-aos="flip-up" 
            	data-aos-duration="1000" 
            	data-aos-delay="0" >
            	Des tests de compétences à la portée de toutes les entreprises
            </h3>
            <p
            	data-aos="fade-up" 
            	data-aos-duration="1000" 
            	data-aos-delay="0" >
            	Talenta Sourcing propose également des tests de compétences sur 25 métiers : comptable, commercial,
                développeur web,
                assistant de direction… élaborés par des experts du métier avec au moins 7 ans d’expérience. Ils
                permettent
                aux entreprises de tester leurs candidats en les invitant à passer le test de compétences (à partir de
                29€
                HT) ou en accédant directement à une base de données de candidats ayant déjà passé le test (à partir de
                250€
                HT).
            </p>
            <h3
            	data-aos="flip-up" 
            	data-aos-duration="1000" 
            	data-aos-delay="0" >
            	Des MOOCs de recrutement pour les grands groupes 
            </h3>
            <p
            	data-aos="fade-up" 
            	data-aos-duration="1000" 
            	data-aos-delay="0" >
            	Pour les grands groupes, des MOOCs de recrutement, dédiés à des métiers précis, comme le métier
                d’aiguilleur(e) du rail, pour la SNCF, ou encore celui de consultant(e), pour le réseau d'agences
                d'intérim
                Ergalis. Chaque MOOC propose une formation interactive à ces métiers, intégrant plusieurs quiz et «
                serious
                games ». Le candidat obtient ainsi un score et l’entreprise peut alors présélectionner les candidats sur
                la
                base de leurs compétences et de leur motivation. « Suivre l’un de ces MOOCs en intégralité représente
                environ 3 heures de travail, on peut donc être certain qu’il s’agit de candidats réellement intéressés
                ».
            </p>
            <p
            	data-aos="fade-up" 
            	data-aos-duration="1000" 
            	data-aos-delay="0" >
            	<em>
            		« Nous avons testé cette solution via le MOOC sur mesure pour recruter des consultants, complète
                    Jean-Jacques Durizy, fondateur de Talenta et Directeur Commercial du groupe Ergalis. Résultat,
                    nous
                    avons rempli nos objectifs de recrutement, et surtout nous avons identifié des profils originaux :
                    la
                    personne qui a obtenu les meilleurs résultats à notre MOOC était assistante maternelle. C’est la
                    preuve
                    de l’innovation qu’apporte ce système ». 
               	</em>
            </p>
            <p
            	data-aos="fade-up" 
            	data-aos-duration="1000" 
            	data-aos-delay="0" >
            	Recruter de cette manière permet aussi de gagner du temps sur l’intégration des candidats dans leurs
                postes,
                puisqu’ils auront été « préformés ». Enfin, il constitue un excellent moyen pour l’entreprise d’affirmer
                sa
                modernité et celle de sa « marque employeur ». Un élément décisif, dans un contexte où la tension sur
                certains métiers se fait de plus en plus forte. Et où la motivation des candidats, plus que jamais, est
                essentielle à la réussite du recrutement.
            </p>
            <p
            	data-aos="fade-up" 
            	data-aos-duration="1000" 
            	data-aos-delay="0" >
            	Aujourd’hui, plus de 2000 candidats sont recrutés sur Talenta par de grands groupes ou des PME qui
                souhaitent
                rendre plus efficace leur processus de recrutement.
            </p>
        </div>
    </div>

    <div 
    	class="page-section"
        data-aos="slide-left" 
        data-aos-duration="1000" 
        data-aos-delay="0" 
        data-aos-offset="0">
        <div class="text-center">
            <h1>Pour être au coeur du recrutement</h1>
            <h2>
            	LANCEZ-VOUS EN TOUTE SIMPLICITE, 
           	</h2>
           	<p>
           		La societé est créée en 2020 pour se consacrer à la valorisation
                des Ressources Humaines à Madagascar en les accompagnant
                au travres d'entreprise innovants, et en contribuant à leur
                développement en tant qu'individu
            </p>
            <p>
            	Le produit phare est dédié au recrutement. Talenta Sourcing
                gère de A à Z un projet de selection en recrutement sur
                mesure quel que soit son volume eet quel que soit le poste à
                pourvoir. Il évite les tâches répétitives rend le processus de
                recrutement simple et intuitif, ce qui permet au recruteur d'être
                au coeur de son métier et d'être plus qualitatif
            </p>
        </div>
    </div>

    <div 
    	class="page-section"
        data-aos="slide-right" 
        data-aos-duration="1000" 
        data-aos-delay="0" 
        data-aos-offset="0">
        <div class="col-md-12">
            <div class="section-heading">
                <h2>Nos Atouts</h2>
                <p>Le produit phare est dédié au recrutement. Talenta Sourcing gère de A à Z un projet de selection
                    en recrutement sur mesure quel que soit son volume eet quel que soit le poste à pourvoir. Il
                    évite les tâches répétitives rend le processus de recrutement simple et intuitif, ce qui permet
                    au recruteur d'être au coeur de son métier et d'être plus qualitatif</p>
            </div>
        </div>
    </div>
    
    -->
</section>
