<footer class="">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12" data-aos="fade-right"
                data-aos-duration="500" data-aos-delay="0" data-aos-offset="0">
                <div class="logo">
                    <a class="logo-ft scroll-top" [routerLink]="'.'"
                        (click)="scrollTo('main-banner')">
                        <!-- <em>Talenta</em> -->
                        <img src="assets/img/logo-trans.png" height="40">
                        Sourcing
                    </a>
                    <p>Copyright &copy; 2020 Talenta Sourcing
                        <br>Design: templatemo
                        <br><a routerLink="/about">A propos de nous</a></p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12" data-aos="fade-right"
                data-aos-duration="500" data-aos-delay="100"
                data-aos-offset="0">
                <div class="location">
                    <h4>Localisation</h4>
                    <ul>
                        <li>Antananarivo, <br>Madagascar</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-sm-12" data-aos="fade-right"
                data-aos-duration="500" data-aos-delay="125"
                data-aos-offset="0">
                <div class="contact-info">
                    <h4>Plus d'info</h4>
                    <ul>
                        <li><em>Phone</em>: (261)34-36-311-46</li>
                        <!-- <li><em>Email</em>: talenta@recrutement.mg</li> -->
                        <li><em>Email</em>:  infos@talenta.mg</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-sm-12" data-aos="fade-right"
                data-aos-duration="500" data-aos-delay="200"
                data-aos-offset="0">
                <div class="connect-us">
                    <h4>Réseaux sociaux</h4>
                    <ul>
                        <!-- <li><a href="#"><i class="fa fa-twitter"></i></a></li> -->
                        <li><a
                                href="https://web.facebook.com/talentamg/" target="_blank"><i
                                    class="fa fa-facebook"></i></a></li>
                        <!-- <li><a href="#"><i class="fa fa-google"></i></a></li> -->
                        <!-- <li><a href="#"><i class="fa fa-rss"></i></a></li> -->
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
