
.connect + .tooltip > .tooltip-inner {
    background-color: var(--c-seegreen-light);
    color: #fff;
    border: 1px solid var(--c-seegreen-light);
}

.connect + .tooltip.bottom > .tooltip-arrow {
    border-bottom: 5px solid var(--c-seegreen-light);
}

::ng-deep.tltp.tooltip.right
{
	z-index: 200000;
  	.tooltip-arrow:before,
		.tooltip-arrow {
			border-right-color: var(--c-seegreen-light) !important;
		}
  	.tooltip-inner
  	{
  		background-color: var(--c-seegreen-light);
  		color: #fff;
  	}
}
::ng-deep.tltp.tooltip.bottom
{
	z-index: 200000;
  	.tooltip-arrow:before,
		.tooltip-arrow {
			border-bottom-color: var(--c-seegreen-light) !important;
		}
  	.tooltip-inner
  	{
  		background-color: var(--c-seegreen-light);
  		color: #fff;
  	}
}

::ng-deep.cdk-overlay-container {
    z-index: 1200 !important;
}

@media (max-width: 1900px) {
	.header .navbar-nav {
		width: calc(100% - 250px);
		li a {
			padding: 0 5px;
			font-size: 1.4rem;
			letter-spacing: 1px;
		}
	}
	.header.active .navbar-nav {
		width: calc(100% - 250px);
		li a {
			padding: 0 5px;
			font-size: 1.4rem;
			letter-spacing: 1px;
		}
	}
	.connect:hover,
	.connect:focus, 
	.connect:active
	{
		left: 89vw;
	}
	
	.connect
	{
		left: 97vw;
	}
}
@media (max-width: 1200px) {
	.header .navbar-nav {
		width: calc(100% - 230px);
		li a {
			padding: 0 5px;
			font-size: 1.2rem;
			letter-spacing: 0px;
		}
	}
	.header.active .navbar-nav {
		width: calc(100% - 230px);
		li a {
			padding: 0 5px;
			font-size: 1.2rem;
			letter-spacing: 0px;
		}
	}
	.connect:hover,
	.connect:focus, 
	.connect:active
	{
		left: 86vw;
	}
	
	.connect
	{
		left: 96vw;
	}
}
@media (max-width: 991px) {
	.header .navbar-nav {
		width: calc(100% - 180px);
		li a {
			padding: 0 5px;
			font-size: 1rem;
			letter-spacing: -1px;
		}
	}
	.header.active .navbar-nav {
		width: calc(100% - 180px);
		li a {
			padding: 0 5px;
			font-size: 1rem;
			letter-spacing: -1px;
		}
	}
	
	.header {
		.navbar-brand {
			font-size: 1.2rem;
			em {
				font-size: 2rem;
			}
		}
	}
	.connect:hover,
	.connect:focus, 
	.connect:active
	{
		left: 82vw;
	}
	
	.connect
	{
		left: 95vw;
	}
}
@media (max-width: 767px) {
	#main-nav {
		background-color: unset;
		transition: margin-top,opacity .5s;
		height: 60vh;
		overflow: auto;
		.dpdn {
			position: relative;
			display: block;
			.dpdn-menu {
				display: none;
				width: 100%;
				z-index: 1;
				background-color: transparent;
				.dpdn-item {
					justify-content: center;
					color: #fff;
				}
				.dpdn-item:hover, 
				.dpdn-item:focus, 
				.dpdn-item:active {
					color: var(--c-orange-1);
				}
			}
		}
		.dpdn:hover,
		.dpdn:focus,
		.dpdn:active,
		.dpdn.active {
			.dpdn-menu {
				display: block;
				position: relative;
				.dpdn-item {
					color: #fff;
				}
				.dpdn-item:hover, 
				.dpdn-item:focus, 
				.dpdn-item:active {
					color: var(--c-orange-1);
				}
			}
		}
		.active > a,
		.active > a:hover,
		.active > a:focus {
			color: var(--c-orange-1);
			background-color: transparent;
		}
	}
	.header 
	{
		background-color: var(--c-dimgray);
		.navbar-nav {
			width: inherit;
			display: block;
			margin: 0 15px;
			border-right: 2px solid var(--c-orange-1);
			padding: 0 20px;
			li
			{
				border-bottom: 2px solid var(--c-orange-1);
				a {
					color: #fff;
					padding: 0 5px;
					font-size: 1.5rem;
					letter-spacing: 1px;
					transition: color .5s;
				}
				a:hover, a:focus, a.active {
					background-color: transparent;
					color: var(--c-orange-1);
				}
			}
		}
	}
	.header.active 
	{
		.navbar-nav {
			width: inherit;
			display: block;
			margin: 0 15px;
			border-right: 2px solid var(--c-orange-1);
			padding: 0 20px;
			li
			{
				a {
					color: #fff;
					padding: 0 5px;
					font-size: 1.5rem;
					letter-spacing: 1px;
					transition: color .5s;
				}
				a:hover, a:focus, a.active {
					background-color: transparent;
					color: var(--c-orange-1);
				}
			}
		}
	}
	.header {
		.navbar-brand {
			font-size: 2rem;
			em {
				font-size: 2.5rem;
			}
		}
	}
	.white-color:hover, 
	.white-color.active
	{
		color: var(--c-orange-1) !important;
	}
	.connect:hover, .connect:focus, .connect:active { left: 74vw; }
	.connect { top: 125px; left: 94vw; }
}
@media (max-device-width: 480px) {
	.connect:hover, .connect:focus, .connect:active { left: 69vw; }
	.connect { top: 125px; left: 90vw; }
}
:ng-deep.cdk-overlay-pane {
	position: initial;
	z-index: 111111;
}
ul.active.menu {
	display: none;
}