img.logoRecruteur
{
  	height: 120px;
	//width: 70%;
	//border-radius: 50%;
	margin-left: 30px;
	float: left;
	object-fit: cover;
	cursor: pointer;
}

::ng-deep.notif.tooltip
{
	z-index: 2000;
	pointer-events: all !important;
  	.tooltip-arrow:before,
	.tooltip-arrow 
	{
		border-bottom-color: #fff !important;
	}
  	.tooltip-inner
  	{
  		background-color: #fff;
  		color: var(--c-gray);
  		max-width: 500px;
  		box-shadow: 0 2px 10px #0005;
  	}
  	.notif-content
  	{
  		.head
  		{
  			display: flex;
  			flex-direction: row;
  			justify-content: space-between;
  			align-items: center;
  		}
  		hr
  		{
  			margin: 5px auto;
  		}
  		.list
  		{
  			max-height: 60vh;
  			overflow-y: auto;
  			ul
  			{
  				max-width: 100vw;
  				.row
  				{
		  			display: flex;
		  			flex-direction: row;
		  			justify-content: space-between;
		  			align-items: center;
  					margin: 10px;
  					border-radius: 5px;
					min-height: 45px;
					box-shadow: 0 0 5px #0003;
					padding: 5px;
					cursor: pointer;
  					.icon
  					{
  						background-color: var(--c-orange-2);
						height: 30px;
						width: 30px;
						display: flex;
						justify-content: center;
						align-items: center;
						margin-right: 5px;
						font-size: 1.7rem;
						border-radius: 5px;
  						i
  						{
  							color: #fff;
  						}
  					}
  					.body
  					{
  						text-align: left;
  						h4
  						{
  							color: #000;
  						}
  					}
  				}
  				.row:hover, .row:focus, .row:active
  				{
  					box-shadow: 0 0 5px var(--c-orange);
  					background-color: #eee;
  				}
  			}
  		}
  	}
}

::ng-deep.notif.tooltip.left
{
	margin-top: 100px !important;
  	.tooltip-arrow:before,
	.tooltip-arrow 
	{
		border-left-color: #fff !important;
	}
}