<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="style/style.css">

    <style type="text/css" media="print">
        .noprint {
            display: none
        }
        
        .print {
            display: block !important;
        }
    </style>
</head>

<body>
    <div id="app">
        <header class="el-header noprint">
            <div class="icon-btns">
                <i class="icon-list" @click="changeLeftMenu"></i>
                <i class="icon-skip_previous" v-bind:class="{'disabled': currentPage == 1}" @click="changeCurrentPage('first')"></i>
                <i class="icon-play_arrow prev-icon" v-bind:class="{'disabled': currentPage == 1}" @click="changeCurrentPage('prev')"></i>
                <i class="icon-play_arrow" v-bind:class="{'disabled': currentPage == pageNum}" @click="changeCurrentPage('next')"></i>
                <i class="icon-skip_next" v-bind:class="{'disabled': currentPage == pageNum}" @click="changeCurrentPage('last')"></i>
                <select v-model="currentPage">
                    <option v-for="page in pageNum" v-bind:value="page">page {{ page }}</option>
                </select>
                <i class="icon-zoom_in" v-bind:class="{'disabled': zoomNum == 2}" @click="modifyZoom('in')"></i>
                <select v-model="zoomNum">
                    <option value="0.5">50%</option>
                    <option value="0.6">60%</option>
                    <option value="0.7">70%</option>
                    <option value="0.8">80%</option>
                    <option value="0.9">90%</option>
                    <option value="1.0" selected>100%</option>
                    <option value="1.1">110%</option>
                    <option value="1.2">120%</option>
                    <option value="1.3">130%</option>
                    <option value="1.4">140%</option>
                    <option value="1.5">150%</option>
                    <option value="1.6">160%</option>
                    <option value="1.7">170%</option>
                    <option value="1.8">180%</option>
                    <option value="1.9">190%</option>
                    <option value="2.0">200%</option>
                </select>
                <i class="icon-zoom_out" v-bind:class="{'disabled': zoomNum == 0.5}" @click="modifyZoom('out')"></i>
                <i class="icon-format_align_left" @click="textAlign = 'left'"></i>
                <i class="icon-format_align_center" @click="textAlign = 'center'"></i>
                <i class="icon-format_align_right" @click="textAlign = 'right'"></i>
                <i class="icon-print" @click="window.print()"></i>
            </div>
        </header>

        <aside class="noprint" width="240px" v-show="ifMenuShow">
            <nav class="tabNav">
                <ul>
                    <li v-bind:class="{ 'curr': currentNav == 0 }" @click="currentNav = 0">Page</li>
                    <li v-bind:class="{ 'curr': currentNav == 1 }" @click="currentNav = 1">Bookmark</li>
                </ul>

                <div class="clear"></div>
            </nav>

            <div class="tab-conent scrollbar" v-bind:style="{ height: asideHeight + 'px' }">

            <section v-show="currentNav == 0">
                <ul class="page-menu">
                    <li v-for="page in pageNum" v-bind:class="{ 'curr': currentPage == page }" @click="changePage(page)"><i class="icon-file-text2"></i> page {{ page }}</li>
                </ul>
            </section>

            <section v-show="currentNav == 1">
                <ul class="page-menu">
                    <li v-for="page in pageNum" v-bind:class="{ 'curr': currentPage == page }" @click="changePage(page)"><i class="icon-turned_in_not"></i> Bookmark {{ page }}</li>
                </ul>
            </section>
        </div>

        </aside>
        <div class="main scrollbar noprint"  v-bind:style="{ height: mainHeight + 'px' }" v-bind:class="{ 'mainLeftM': ifMenuShow, 'aleft': textAlign === 'left','acenter': textAlign === 'center','aright': textAlign === 'right'}">
            <div class="conent" v-html="pageContent" v-bind:style="zoomStyle"></div>

            <div class="clear"></div>
        </div>

        <!--专门只为打印的内容-->
        <div class="conent print" style="display:none" v-html="pageContent"></div>
    </div>
</body>
<!-- 先引入 Vue -->
<script src="js/vue.min.js"></script>
<script>

var app = new Vue({
        el: '#app',
        data: function() {
            return {
                // visible: false,
                isCollapse: false,
                currentNav: 0,
                activeName2: 'first',
                pageNum: 1, 
                currentPage: 1,
                pageContent: '',
                asideHeight: 300,
                mainHeight: 300,
                ifMenuShow: true,
                zoomNum: '1.0',
                textAlign: 'left',
                zoomStyle: {},
                pageDatas: ['<div style="position:absolute;top:172.683029px;left:92.462280px"><nobr><img height="20.000000" width="609.000000" src ="bgimg/bg00001.jpg"/></nobr></div><p><span style="background:#FFFFFF;font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:97.609215px;left:94.381241px"><nobr>Code SARLU et ses clients et partenaires traitent des données personnelles telles que vos </nobr></span><span style="position:absolute;top:117.157799px;left:94.381241px"><nobr>informations personnelles et votre adresse IP. Vous pouvez accepter ou non. Vous pouvez </nobr></span><span style="position:absolute;top:136.839676px;left:94.381241px"><nobr>changer d\'avis ou retirer votre consentement à tout moment en cliquant sur le lien dédié dans </nobr></span><span style="position:absolute;top:156.361572px;left:94.381241px"><nobr>la Charte su r les données personnelles. Vos préférences s ’appliqueront uniquement à notre </nobr></span><span style="position:absolute;top:175.723465px;left:94.381241px"><nobr><span style="">site. </span></nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:205.166183px;left:94.381241px"><nobr>Vous pouvez à tout moment gérer vos consentements en cliquant <span style="font-weight:bold;color:#337AB7;"><a href="javascript:Didomi.preferences.show()" target="_blank">sur </a><a href="javascript:Didomi.preferences.show()" target="_blank">ce </a><a href="javascript:Didomi.preferences.show()" target="_blank">lien </a></span><span style="font-style:normal;font-weight:normal;color:#333333;"><a href="javascript:Didomi.preferences.show()" target="_blank">. </a></span></nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-weight:bold;color:#333333;"><span style="position:absolute;top:234.768967px;left:94.381241px"><nobr>Lien vers I. PROTECTION DES DONNEES </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-weight:bold;color:#333333;"><span style="position:absolute;top:264.211761px;left:94.381241px"><nobr>Lien vers I. PROTECTION DES DONNEES </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:302.615387px;left:118.368340px"><nobr>1. Traitements dont l\'Editeur est responsable de traitement </nobr></span></span></p><p><span style="font-family:Wingdings;font-size:9.960000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:322.137299px;left:166.337219px"><nobr> <span style="font-family:Calibri;font-size:12.000000px;font-weight:bold;">Quelles sont les Données Personnelles que vous déclarez directement ? </span></nobr></span></span></p><p><span style="font-family:Wingdings;font-size:9.960000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:341.699127px;left:166.337219px"><nobr> <span style="font-family:Calibri;font-size:12.000000px;font-weight:bold;">Quelles sont vos Données collectées indirectement sur le Site et/ou les </span></nobr></span><span style="position:absolute;top:361.220947px;left:190.324326px"><nobr><span style="font-family:Calibri;font-size:12.000000px;font-weight:bold;">Applications ? </span></nobr></span></span></p><p><span style="font-family:Wingdings;font-size:9.960000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:380.804108px;left:166.337219px"><nobr> </nobr></span></span></p><p><span style="font-family:Wingdings;font-size:9.960000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:400.326019px;left:166.337219px"><nobr> </nobr></span></span></p><p><span style="font-family:Wingdings;font-size:9.960000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:420.007813px;left:166.337219px"><nobr> </nobr></span></span></p><p><span style="font-family:Wingdings;font-size:9.960000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:439.529785px;left:166.337219px"><nobr> </nobr></span></span></p><p><span style="font-family:Wingdings;font-size:9.960000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:459.051544px;left:166.337219px"><nobr> </nobr></span></span></p><p><span style="font-family:Wingdings;font-size:9.960000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:478.573395px;left:166.337219px"><nobr> </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-weight:bold;color:#333333;"><span style="position:absolute;top:380.742828px;left:190.324326px"><nobr>Pourquoi collectons-nous certaines de vos Données ? </nobr></span><span style="position:absolute;top:400.264740px;left:190.324326px"><nobr>Quels sont les destinataires des Données collectées ? </nobr></span><span style="position:absolute;top:419.946533px;left:190.324326px"><nobr>Les transferts hors Union Européenne protégés </nobr></span><span style="position:absolute;top:439.468414px;left:190.324326px"><nobr>Quels sont vos droits et comment les exercer ? </nobr></span><span style="position:absolute;top:458.990234px;left:190.324326px"><nobr>Durée de conservation et archivage des Données </nobr></span><span style="position:absolute;top:478.512146px;left:190.324326px"><nobr>Sécurité </nobr></span></span></p><p><span style="font-family:Wingdings;font-size:9.960000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:497.935272px;left:166.337219px"><nobr> </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-weight:bold;color:#333333;"><span style="position:absolute;top:497.873962px;left:190.324326px"><nobr>Enfants </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:536.117615px;left:118.368340px"><nobr>1. Traitem ents dont l ’Editeur n ’est pas responsable de traitement </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:574.387939px;left:98.059265px"><nobr>Lorsque nous utilisons les termes « vous » ou « vos », nous faisons référence à vous en tant </nobr></span><span style="position:absolute;top:593.749756px;left:94.381241px"><nobr>qu ’Utilisateur du Site et des Applications. </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:623.352600px;left:98.059265px"><nobr>Cette Charte a pour objet de vous informer des raisons et des conditions du traitement : </nobr></span><span style="position:absolute;top:653.115417px;left:94.381241px"><nobr>De vos données à caractère personnel sur le Site et les Applications. Nous les nommons ci- </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:672.637268px;left:94.381241px"><nobr>après la(les) « Donnée(s) Personnelle(s) ». Les Données Personnelles sont des informations </nobr></span><span style="position:absolute;top:691.999146px;left:94.381241px"><nobr>qui permettent de vous identifier directement ou indirectement ; </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:721.441895px;left:94.381241px"><nobr>Les Données Personnelles seront désignées ci-après sous le terme unique de « Donnée(s) ». </nobr></span><span style="position:absolute;top:751.204773px;left:98.059265px"><nobr>Le Site est édité par la société CODE, sarl à associé unique au capital de -----Ariary dont le </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:770.726563px;left:94.381241px"><nobr>siège social est situé au ------------------, immatriculée au Registre du Commerce et des Sociétés </nobr></span><span style="position:absolute;top:790.088379px;left:94.381241px"><nobr>d ’Antananarivo (ci -après l\'" Editeur " ou « Nous/nous »). </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:819.891296px;left:98.059265px"><nobr>Nous pouvons modifier la Charte à tout moment, afin notamment de se conformer à toutes </nobr></span><span style="position:absolute;top:839.413086px;left:94.381241px"><nobr>les évolutions législatives, règlementaires, jurisprudentielles, éditoriales ou techniques. Avant </nobr></span><span style="position:absolute;top:858.934998px;left:94.381241px"><nobr>toute navigation, nous vous invitons à vous référer à la dernière version de la Charte. Vous </nobr></span><span style="position:absolute;top:878.456787px;left:94.381241px"><nobr>pourrez savoir s ’il y a eu une modification depuis votre dernière con sultation en regardant la </nobr></span><span style="position:absolute;top:897.818604px;left:94.381241px"><nobr>date de mise à jour indiquée en haut de page. </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:927.421448px;left:94.381241px"><nobr>La Charte fait partie intégrante des Conditions Générales d\'Utilisation du Site et des </nobr></span><span style="position:absolute;top:946.783325px;left:94.381241px"><nobr>Applications. </nobr></span></span></p>','<p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:97.609215px;left:94.381241px"><nobr>Le cas échéant, la Charte s\'applique concomitamment (i) aux conditions particulières </nobr></span><span style="position:absolute;top:117.157799px;left:94.381241px"><nobr>d\'utilisation du Site et des Applications, (ii) aux règlements de jeux organisés par l ’Editeur du </nobr></span><span style="position:absolute;top:136.679611px;left:94.381241px"><nobr>Site et des Applications (iii) aux services proposés sur le Site et les Applications. </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:166.282471px;left:98.059265px"><nobr>Les traitements de vos Données sont effectués conformément à la règlementation applicable </nobr></span><span style="position:absolute;top:185.804276px;left:94.381241px"><nobr>notamment la loi Malgache 2014-038 Sur la protection des données à caractère personnel, le </nobr></span><span style="position:absolute;top:205.326172px;left:94.381241px"><nobr>Règlement européen n°2016- 679 relatif à la protection des personnes physiques à l ’égard du </nobr></span><span style="position:absolute;top:224.848068px;left:94.381241px"><nobr>traitement des données à caractère personnel et à la libre circulation de ces données dit </nobr></span><span style="position:absolute;top:244.369949px;left:94.381241px"><nobr>« RGPD », la loi n°78- 17 du 6 janvier 1978 relative à l ’informatique, aux fichiers et aux libertés </nobr></span><span style="position:absolute;top:263.891693px;left:94.381241px"><nobr>modifiée dite « Loi Informatique et Libertés », et toute règlementation qui les complète ou </nobr></span><span style="position:absolute;top:283.413574px;left:94.381241px"><nobr>qui s ’y substituerait (ci -après « Règlementation Informatique et Libertés » ). </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:313.016449px;left:98.059265px"><nobr>L ’Editeur est le responsable de traitement de la plupart des traitements de Données effectués </nobr></span><span style="position:absolute;top:332.538330px;left:94.381241px"><nobr>sur le Site et les Applications tel que précisé ci-après. Un traitement est une opération sur une </nobr></span><span style="position:absolute;top:351.940033px;left:94.381241px"><nobr>Donnée (comme par exemple une consultation ou une collecte). </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:381.702972px;left:98.059265px"><nobr>Toutefois, l ’Editeur n ’est pas responsable de tous les traitements de vos Données. Des </nobr></span><span style="position:absolute;top:401.224762px;left:94.381241px"><nobr>prestataires, clients de l ’Editeur ou des tiers peuvent être seuls responsables de certains </nobr></span><span style="position:absolute;top:420.586578px;left:94.381241px"><nobr>traitements tel que précisé ci-après. </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-weight:bold;text-decoration:underline;color:#333333;"><span style="position:absolute;top:450.189453px;left:98.059265px"><nobr>PROTECTION DES DONNEES </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-weight:bold;color:#333333;"><span style="position:absolute;top:479.632263px;left:98.059265px"><nobr>TRAITEMENTS DONT L ’EDITEUR EST RESPONSABLE </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:509.395081px;left:98.059265px"><nobr>Lors de l ’utilisation du Site et des Applications par l ’Utilisateur, des Données sont susceptibles </nobr></span><span style="position:absolute;top:528.916870px;left:94.381241px"><nobr>d ’être collectées et traitées en vue de permettre l ’accès aux services du Si te et des </nobr></span><span style="position:absolute;top:548.278748px;left:94.381241px"><nobr>Applications (ci-après les « Services ») à des fins de gestion administrative et commerciale . </nobr></span></span></p><p><span style="font-family:Wingdings;font-size:9.960000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:616.053162px;left:118.368340px"><nobr> </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-weight:bold;color:#333333;"><span style="position:absolute;top:615.991882px;left:142.350113px"><nobr>Quelles sont les Données Personnelles que vous déclarez directement ? </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:654.235474px;left:94.381241px"><nobr>Il s ’agit des Données Personnelles : </nobr></span></span></p><p><span style="font-family:Wingdings;font-size:9.960000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:692.540344px;left:118.368340px"><nobr> </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:692.479187px;left:142.350113px"><nobr>Que vous nous communiquez directement pour les finalités (c ’est -à-dire les objectifs) </nobr></span><span style="position:absolute;top:712.161011px;left:142.350113px"><nobr>précisées dans nos formulaires sur le Site et les Applications (par exemple, les Données </nobr></span><span style="position:absolute;top:731.682800px;left:142.350113px"><nobr>communiquées à des fins d ’inscription à un compte) ; </nobr></span></span></p><p><span style="font-family:Wingdings;font-size:9.960000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:751.265930px;left:118.368340px"><nobr> </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:751.204773px;left:142.350113px"><nobr>Et des Données Personnelles que vous choisissez de rendre publiques sur le Site et les </nobr></span><span style="position:absolute;top:770.566589px;left:142.350113px"><nobr>Applications. </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:846.933777px;left:118.368340px"><nobr>1. Données Personnelles collectées par formulaire(s) </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:885.337463px;left:98.059265px"><nobr>Les types de Données Personnelles collectées par ces formulaires sont précisés dans chacun </nobr></span><span style="position:absolute;top:904.699341px;left:94.381241px"><nobr>d ’eux et diffèrent suivant les Services et la finalité du traitement. Il peut s ’ag ir : </nobr></span></span></p><p><span style="font-family:Wingdings;font-size:9.960000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:943.164307px;left:118.368340px"><nobr> </nobr></span></span></p><p><span style="font-family:Wingdings;font-size:9.960000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:962.686096px;left:118.368340px"><nobr> </nobr></span></span></p><p><span style="font-family:Wingdings;font-size:9.960000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:982.042542px;left:118.368340px"><nobr> </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:943.102966px;left:142.350113px"><nobr>De Données Personnelles d ’identification (nom, prénom, âge, etc.) ; </nobr></span><span style="position:absolute;top:962.624756px;left:142.350113px"><nobr>De Données Personnelles de contact (email, adresse postale, etc.) ; </nobr></span><span style="position:absolute;top:981.981323px;left:142.350113px"><nobr>Des Données Personnelles liées à vos habitudes ou préférences ; </nobr></span></span></p>','<p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:127.078773px;left:94.381241px"><nobr>Lors de cette collecte, vous êtes notamment informés : </nobr></span></span></p><p><span style="font-family:Wingdings;font-size:9.960000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:165.543701px;left:118.368340px"><nobr> </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:165.482422px;left:142.350113px"><nobr>Des objectifs du recueil de ces Données (finalités) ; </nobr></span></span></p><p><span style="font-family:Wingdings;font-size:9.960000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:185.065506px;left:118.368340px"><nobr> </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:185.004227px;left:142.350113px"><nobr>Si certaines Données doivent être obligatoirement renseignées ou si celles-ci sont </nobr></span><span style="position:absolute;top:204.526123px;left:142.350113px"><nobr>facultatives, et le cas échéant, des conséquences du défaut de renseignement de </nobr></span><span style="position:absolute;top:224.047928px;left:142.350113px"><nobr>Données obligatoires. Généralement, à défaut de renseignement de Données </nobr></span><span style="position:absolute;top:243.569824px;left:142.350113px"><nobr>obligatoires, l ’accès aux Services et leur utilisation pourra être restreinte ; </nobr></span></span></p><p><span style="font-family:Wingdings;font-size:9.960000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:263.152985px;left:118.368340px"><nobr> </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:263.091705px;left:142.350113px"><nobr>Du ou des responsables de traitements (en principe, l ’Editeur, mais il peut s ’agir de </nobr></span><span style="position:absolute;top:282.613434px;left:142.350113px"><nobr>partenaires auquel cas vous en êtes informés au moment de cette collecte) ; </nobr></span></span></p><p><span style="font-family:Wingdings;font-size:9.960000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:302.196686px;left:118.368340px"><nobr> </nobr></span></span></p><p><span style="font-family:Wingdings;font-size:9.960000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:321.718506px;left:118.368340px"><nobr> </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#337AB7;"><span style="position:absolute;top:302.135406px;left:142.350113px"><nobr><a href="https://www.cnil.fr/fr/comprendre-vos-droits" target="_blank">De </a><a href="https://www.cnil.fr/fr/comprendre-vos-droits" target="_blank">vos </a><a href="https://www.cnil.fr/fr/comprendre-vos-droits" target="_blank">droits </a><span style="color:#333333;">et de la façon de les exercer auprès du responsable de traitement ; </span></nobr></span><span style="position:absolute;top:321.657227px;left:142.350113px"><nobr><span style="color:#333333;">Et plus généralement de l ’ensemble des mentions imposées par la Règlementation </span></nobr></span><span style="position:absolute;top:341.059174px;left:142.350113px"><nobr><span style="color:#333333;">Informatique et Libertés. </span></nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:417.546295px;left:118.368340px"><nobr>2. Données que vous rendez publiques </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:455.949982px;left:94.381241px"><nobr>Par ailleurs, nous collectons et traitons des Données Personnelles que vous choisissez </nobr></span><span style="position:absolute;top:475.471893px;left:94.381241px"><nobr>d ’afficher volontairement sur le Site et les Applications telles que notamment vos Données de </nobr></span><span style="position:absolute;top:494.833710px;left:94.381241px"><nobr>profil de compte (pseudonyme, photo par exemple). </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:524.436462px;left:94.381241px"><nobr>Seules les Données que vous aurez expressément déclarées comme publiques lors de votre </nobr></span><span style="position:absolute;top:543.798279px;left:94.381241px"><nobr>inscription pourront être ainsi publiées (ci-après « Données Publiques »). </nobr></span></span></p><p><span style="font-family:Wingdings;font-size:9.960000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:611.572754px;left:118.368340px"><nobr> </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-weight:bold;color:#333333;"><span style="position:absolute;top:611.511475px;left:142.350113px"><nobr>Quelles sont vos Données collectées indirectement sur le Site et les Applications ? </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:649.915100px;left:98.059265px"><nobr>D ’une manière générale, il s ’agit des Données issues des Cookies. Pour en savoir plus sur les </nobr></span><span style="position:absolute;top:669.276917px;left:94.381241px"><nobr>Cookies et les paramétrer, cliquez directement sur la partie II. COOKIES </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:698.879700px;left:98.059265px"><nobr>Il peut s ’agir des : </nobr></span></span></p><p><span style="font-family:Wingdings;font-size:9.960000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:766.787415px;left:118.368340px"><nobr> </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-weight:bold;color:#333333;"><span style="position:absolute;top:766.726257px;left:142.350113px"><nobr>Données relatives à la navigation : c ’est -à-dire les Données collectées lors de votre </nobr></span><span style="position:absolute;top:786.248047px;left:142.350113px"><nobr>navigation sur le Site et les Applications pour le compte de l ’Editeur. L\'Editeur collecte </nobr></span><span style="position:absolute;top:805.769836px;left:142.350113px"><nobr>deux types de Données de navigation : </nobr></span></span></p><p><span style="font-family:Wingdings;font-size:9.960000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:825.553040px;left:118.368340px"><nobr> </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-weight:bold;color:#333333;"><span style="position:absolute;top:825.491760px;left:142.350113px"><nobr>Les Données de connexion : telles que notamment la date, l\'heure de la connexion </nobr></span><span style="position:absolute;top:845.013672px;left:142.350113px"><nobr>et/ou navigation, le type de navigateur, la langue du navigateur, l ’adresse IP. </nobr></span></span></p><p><span style="font-family:Wingdings;font-size:9.960000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:864.596802px;left:118.368340px"><nobr> </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-weight:bold;color:#333333;"><span style="position:absolute;top:864.535461px;left:142.350113px"><nobr>Les Données de géolocalisation : désignent les Données collectées lors de votre </nobr></span><span style="position:absolute;top:884.057373px;left:142.350113px"><nobr>activation de systèmes de géolocalisation lorsque vous vous connectez au Site ou aux </nobr></span><span style="position:absolute;top:903.579224px;left:142.350113px"><nobr>Applications. Ce service de géolocalisation utilise des Données, telles que notamment </nobr></span><span style="position:absolute;top:923.101135px;left:142.350113px"><nobr>les signaux GPS, les capteurs du terminal, les points d\'accès WIFI et les identifiants des </nobr></span><span style="position:absolute;top:942.462891px;left:142.350113px"><nobr>antennes relais, pour dériver ou estimer votre position précise. </nobr></span></span></p>','<p><span style="font-family:Wingdings;font-size:9.960000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:97.670494px;left:118.368340px"><nobr> </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-weight:bold;color:#333333;"><span style="position:absolute;top:97.609215px;left:142.350113px"><nobr>Les Données collectées via les réseaux sociaux ou via tout autre tiers : si vous </nobr></span><span style="position:absolute;top:117.157799px;left:142.350113px"><nobr>possédez un compte sur des sites des réseaux sociaux et que vous accédez au Site ou </nobr></span><span style="position:absolute;top:136.839676px;left:142.350113px"><nobr>aux Applications sans vous être préalablement inscrit aux Services, nous pouvons </nobr></span><span style="position:absolute;top:156.361572px;left:142.350113px"><nobr>recevoir des informations émanant desdits réseaux sociaux afin de faciliter la création </nobr></span><span style="position:absolute;top:175.883377px;left:142.350113px"><nobr>d\'un compte sur le Site ou les Applications. Lorsque vous utilisez un Service via un site </nobr></span><span style="position:absolute;top:195.405273px;left:142.350113px"><nobr>de réseau social, vous nous permettez d ’accéder à certaines informations que vous </nobr></span><span style="position:absolute;top:214.927078px;left:142.350113px"><nobr>avez fournies au site de réseau social, telles que notamment votre nom d\'Utilisateur, </nobr></span><span style="position:absolute;top:234.448975px;left:142.350113px"><nobr>vos nom et prénom, votre image de profil, et vos données relatives à l\'utilisation de ce </nobr></span><span style="position:absolute;top:253.970779px;left:142.350113px"><nobr>Service. En accédant à un Service via un site de réseau social, vous nous autorisez à </nobr></span><span style="position:absolute;top:273.492676px;left:142.350113px"><nobr>collecter, stocker et utiliser toutes les informations pour lesquelles vous avez autorisé </nobr></span><span style="position:absolute;top:292.854492px;left:142.350113px"><nobr>le site de réseau social à nous les fournir. </nobr></span></span></p><p><span style="font-family:Wingdings;font-size:9.960000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:369.283051px;left:118.368340px"><nobr> </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-weight:bold;color:#333333;"><span style="position:absolute;top:369.221680px;left:142.350113px"><nobr>Pourquoi collectons-nous certaines de vos Données ? </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:407.625336px;left:94.381241px"><nobr>La ou les raisons pour lesquelles les Données sont recueillies dans les formulaires de collecte </nobr></span><span style="position:absolute;top:426.987213px;left:94.381241px"><nobr>sont précisées lors de cette collecte. </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:456.750122px;left:94.381241px"><nobr>D ’une manière générale, les finalités et durées de conservation diffèrent suivants les Services. </nobr></span><span style="position:absolute;top:476.271912px;left:94.381241px"><nobr>Les finalités et durées de conservation peuvent être les suivantes étant précisées que seules </nobr></span><span style="position:absolute;top:495.793732px;left:94.381241px"><nobr>les Données nécessaires à chacune de ces finalités sont collectées. Les finalités poursuivies par </nobr></span><span style="position:absolute;top:515.155640px;left:94.381241px"><nobr>l ’Editeur et les durées de conservation correspondantes sont : </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:544.758484px;left:94.381241px"><nobr>Finalités Durée de conservation Base légale </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-weight:bold;color:#333333;"><span style="position:absolute;top:574.227905px;left:94.381241px"><nobr>Gérer la base client </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:603.990723px;left:94.381241px"><nobr>(Gestion des comptes </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:623.512573px;left:94.381241px"><nobr>utilisateurs, gestion des </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:643.034424px;left:94.381241px"><nobr>inscriptions aux Services, </nobr></span><span style="position:absolute;top:662.396240px;left:94.381241px"><nobr>etc.) et le support client </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:589.269287px;left:267.442810px"><nobr>3 ans à compter de la </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:608.791199px;left:267.442810px"><nobr>collecte des données ou du Exécution du </nobr></span><span style="position:absolute;top:628.153076px;left:267.442810px"><nobr>dernier contact émanant du contrat </nobr></span><span style="position:absolute;top:647.674866px;left:267.442810px"><nobr>client </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-weight:bold;color:#333333;"><span style="position:absolute;top:691.999146px;left:94.381241px"><nobr>Fidéliser la base client </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:721.601868px;left:94.381241px"><nobr>(Envoi de newsletters, </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:740.963684px;left:94.381241px"><nobr>etc.) </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:706.880554px;left:267.442810px"><nobr>3 ans à compter du dernier </nobr></span><span style="position:absolute;top:726.242371px;left:267.442810px"><nobr>contact émanant du client </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:716.481445px;left:451.530487px"><nobr>Consentement </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-weight:bold;color:#333333;"><span style="position:absolute;top:795.208862px;left:94.381241px"><nobr>Organisation de jeux </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-weight:bold;color:#333333;"><span style="position:absolute;top:814.610779px;left:94.381241px"><nobr>concours </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:770.566589px;left:267.442810px"><nobr>3 ans </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:800.169373px;left:267.442810px"><nobr>à compter du dernier </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:819.891296px;left:267.442810px"><nobr>contact émanant du </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:839.253113px;left:267.442810px"><nobr>prospect ou du client </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:804.809814px;left:451.530487px"><nobr>Consentement </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-weight:bold;color:#333333;"><span style="position:absolute;top:883.257263px;left:94.381241px"><nobr>Animer la communauté </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:912.860046px;left:94.381241px"><nobr>(Forums, avis, etc.) </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:868.855896px;left:267.442810px"><nobr>3 ans à compter de la </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:888.377747px;left:267.442810px"><nobr>collecte des données ou du Exécution du </nobr></span><span style="position:absolute;top:907.739563px;left:267.442810px"><nobr>dernier contact émanant du contrat </nobr></span><span style="position:absolute;top:927.261475px;left:267.442810px"><nobr>client </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-weight:bold;color:#333333;"><span style="position:absolute;top:971.585632px;left:94.381241px"><nobr>Etudes (Sondages, etc.) </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:956.864258px;left:267.442810px"><nobr>3 ans </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:986.461792px;left:267.442810px"><nobr>puis anonymisé </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:971.585632px;left:451.530487px"><nobr>Consentement </nobr></span></span></p>','<p><span style="font-family:Calibri;font-size:12.000000px;font-weight:bold;color:#333333;"><span style="position:absolute;top:122.118324px;left:94.381241px"><nobr>Profilage </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:97.449303px;left:267.442810px"><nobr>13 mois </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:127.238770px;left:267.442810px"><nobr>à compter du dépôt du </nobr></span><span style="position:absolute;top:146.600586px;left:267.442810px"><nobr>cookie </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:122.118324px;left:451.530487px"><nobr>Consentement </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-weight:bold;color:#333333;"><span style="position:absolute;top:176.363449px;left:94.381241px"><nobr>Monétiser les ressources </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-weight:bold;color:#333333;"><span style="position:absolute;top:195.725342px;left:94.381241px"><nobr>de l ’activité </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:264.211761px;left:94.381241px"><nobr>commercial, etc.) </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:195.725342px;left:267.442810px"><nobr>13 mois </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:225.328049px;left:94.381241px"><nobr>(Publicités personnalisées, à compter du dépôt du </nobr></span><span style="position:absolute;top:244.689865px;left:94.381241px"><nobr>transfert à un partenaire cookie </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:220.207520px;left:451.530487px"><nobr>Consentement </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-weight:bold;color:#333333;"><span style="position:absolute;top:298.935059px;left:94.381241px"><nobr>Gestion analytique de </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-weight:bold;color:#333333;"><span style="position:absolute;top:318.456940px;left:94.381241px"><nobr>l ’activité (mesure </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:337.858795px;left:94.381241px"><nobr>d ’audience, etc.) </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:293.814545px;left:267.442810px"><nobr>13 mois </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:323.577393px;left:267.442810px"><nobr>à compter du dépôt du </nobr></span><span style="position:absolute;top:342.979248px;left:267.442810px"><nobr>cookie puis anonymisé </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:308.695953px;left:451.530487px"><nobr>Intérêt </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:328.057770px;left:451.530487px"><nobr>légitime </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:402.184906px;left:94.381241px"><nobr>Des Données peuvent être collectées pour d ’autres finalités pour certains services spécifiques </nobr></span><span style="position:absolute;top:421.706787px;left:94.381241px"><nobr>ou temporaires. Le cas échéant, les informations sur lesdits traitements seront précisées dans </nobr></span><span style="position:absolute;top:441.068604px;left:94.381241px"><nobr>un document spécifique lors de la collecte de ces Données. </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:500.274200px;left:94.381241px"><nobr>Vos Données ne seront pas conservées par l ’Editeur au -delà de la durée strictement </nobr></span><span style="position:absolute;top:519.796021px;left:94.381241px"><nobr>nécessaire aux finalités poursuivies telles qu\'énoncées dans la présente Charte et ce </nobr></span><span style="position:absolute;top:539.157959px;left:94.381241px"><nobr>conformément à la Réglementation Informatique et Libertés et aux lois applicables. </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:568.920654px;left:94.381241px"><nobr>Vos Données seront effacées ou définitivement anonymisées lorsque les durées de </nobr></span><span style="position:absolute;top:588.309204px;left:94.381241px"><nobr>conservation expireront. </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:617.912048px;left:94.381241px"><nobr>A titre d ’exemple, si vous vous inscrivez au compte et qu ’ensuite vous restez inactif, nous </nobr></span><span style="position:absolute;top:637.433899px;left:94.381241px"><nobr>supprimerons vos Données renseignées lors de l ’inscription au compte ou les anonymiserons </nobr></span><span style="position:absolute;top:656.955811px;left:94.381241px"><nobr>après trois (3) ans d ’inacti vité. </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:716.161438px;left:94.381241px"><nobr>A l ’expiration des durées de conservation pour la finalité principale du traitement, les Données </nobr></span><span style="position:absolute;top:735.683167px;left:94.381241px"><nobr>peuvent être archivées et conservées pendant la durée de prescription légale afin de défendre </nobr></span><span style="position:absolute;top:755.045105px;left:94.381241px"><nobr>de nos Droits ou pendant la durée de conservation imposée par la loi. </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:784.647949px;left:94.381241px"><nobr>L ’archivage implique que ces Données ne seront plus consultables en ligne mais seront </nobr></span><span style="position:absolute;top:804.169739px;left:94.381241px"><nobr>extraites et conservées sur un support autonome et sécurisé. En outre, l ’Editeur est </nobr></span><span style="position:absolute;top:823.891602px;left:94.381241px"><nobr>susceptible de conserver des Données (notamment les contributions des Utilisateurs sur les </nobr></span><span style="position:absolute;top:843.413513px;left:94.381241px"><nobr>forums) de manière définitivement anonymisée, aux fins de production d ’études statistiques. </nobr></span><span style="position:absolute;top:862.935303px;left:94.381241px"><nobr>En aucun cas, ces études ne permettent d ’identifier les Utilisateurs et ne portent que sur des </nobr></span><span style="position:absolute;top:882.297180px;left:94.381241px"><nobr>tendances issues de leurs Données agrégées. </nobr></span></span></p>','<p><span style="font-family:Wingdings;font-size:9.960000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:97.510582px;left:118.368340px"><nobr> </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-weight:bold;color:#333333;"><span style="position:absolute;top:97.449303px;left:142.350113px"><nobr>Quels sont les destinataires des Données collectées </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:165.482422px;left:94.381241px"><nobr>La base de Données constituée à l ’occasion de l ’inscription aux Services est strictement </nobr></span><span style="position:absolute;top:185.004227px;left:94.381241px"><nobr>confidentielle. L\'Editeur s ’engage à prendre toutes les précautions utiles ainsi que les mesures </nobr></span><span style="position:absolute;top:204.526123px;left:94.381241px"><nobr>organisationnelles et techn iques appropriées pour préserver la sécurité, l ’intégrité et la </nobr></span><span style="position:absolute;top:224.047928px;left:94.381241px"><nobr>confidentialité des Données et notamment, empêcher qu ’elles soient déformées, </nobr></span><span style="position:absolute;top:243.409836px;left:94.381241px"><nobr>endommagées ou que des tiers non autorisés y aient accès. </nobr></span></span></p><p><span style="font-family:Wingdings;font-size:9.960000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:311.157562px;left:118.368340px"><nobr> </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-weight:bold;color:#333333;"><span style="position:absolute;top:311.096283px;left:142.350113px"><nobr>Destinataires des Données Personnelles pour les finali tés poursuivies par l ’Editeur </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:379.142670px;left:94.381241px"><nobr>Pour les besoins de la réalisation des finalités des traitements qu ’il poursuit, l ’Editeur a besoin </nobr></span><span style="position:absolute;top:398.664551px;left:94.381241px"><nobr>que des personnes habilitées puissent traiter ces Données. Ainsi les services habilités de </nobr></span><span style="position:absolute;top:418.186432px;left:94.381241px"><nobr>l\'Editeur et ses prestataires sous-traitants sont des destinataires soumis à confidentialité, </nobr></span><span style="position:absolute;top:437.708160px;left:94.381241px"><nobr>habilités à avoir accès aux Données collectées dans le cadre de l ’utilisation du Site et des </nobr></span><span style="position:absolute;top:457.070099px;left:94.381241px"><nobr>Applications. </nobr></span></span></p><p><span style="font-family:Wingdings;font-size:9.960000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:524.817810px;left:118.368340px"><nobr> </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-weight:bold;color:#333333;"><span style="position:absolute;top:524.756592px;left:142.350113px"><nobr>Données Personnelles transférées à des tiers </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:592.789673px;left:94.381241px"><nobr>Par ailleurs, les Données Personnelles pourront être transférées à des destinataires tiers, tels </nobr></span><span style="position:absolute;top:612.311462px;left:94.381241px"><nobr>que des partenaires commerciaux, pour des finalités fixées par ces tiers et qui vous seront </nobr></span><span style="position:absolute;top:631.833374px;left:94.381241px"><nobr>précisées lors de la collecte du consentement. Généralement, un tel transfert ne s ’effectue </nobr></span><span style="position:absolute;top:651.355225px;left:94.381241px"><nobr>qu ’avec votre consentement préalable, sauf si un autre fondement juridique est plus adapté. </nobr></span><span style="position:absolute;top:670.877075px;left:94.381241px"><nobr>Dans ce cas, le tiers destinataire sera généralement le responsable de traitement de cette </nobr></span><span style="position:absolute;top:690.238953px;left:94.381241px"><nobr>finalité complémentaire. </nobr></span></span></p><p><span style="font-family:Wingdings;font-size:9.960000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:757.986633px;left:118.368340px"><nobr> </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-weight:bold;color:#333333;"><span style="position:absolute;top:757.925293px;left:142.350113px"><nobr>Données transférées aux autorités et/ou organismes publics </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:825.811768px;left:94.381241px"><nobr>Conformément à la réglementation en vigueur, les Données peuvent être transmises sur </nobr></span><span style="position:absolute;top:845.493652px;left:94.381241px"><nobr>requête aux autorités compétentes et notamment aux organismes publics, exclusivement </nobr></span><span style="position:absolute;top:865.015503px;left:94.381241px"><nobr>pour répondre aux obligations légales, aux auxiliaires de justice, aux officiers ministériels et </nobr></span><span style="position:absolute;top:884.537354px;left:94.381241px"><nobr>aux organismes chargés d ’effectuer le recouvrement de créances, ainsi que dans le cadre de </nobr></span><span style="position:absolute;top:903.899231px;left:94.381241px"><nobr>la recherche des auteurs d ’infractions commises sur Internet. </nobr></span></span></p>','<p><span style="font-family:Wingdings;font-size:9.960000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:97.510582px;left:118.368340px"><nobr> </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-weight:bold;color:#333333;"><span style="position:absolute;top:97.449303px;left:142.350113px"><nobr>Les transferts hors Union Européenne protégés </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:165.482422px;left:94.381241px"><nobr>Les Données issues des Cookies peuvent être transférées hors Union Européenne en vue de </nobr></span><span style="position:absolute;top:185.004227px;left:94.381241px"><nobr>leur hébergement et de leur traitement dans le cadre des finalités publicitaires ou de mesures </nobr></span><span style="position:absolute;top:204.526123px;left:94.381241px"><nobr>d ’audience. Vous trouverez plus d ’information sur ce point et sur les garanties mises en place </nobr></span><span style="position:absolute;top:224.047928px;left:94.381241px"><nobr>pour assurer la conformité de ce transfert à la Règlementation Informatique et Libertés pour </nobr></span><span style="position:absolute;top:243.409836px;left:94.381241px"><nobr>chaque partenaire concerné dans la partie II. </nobr></span></span></p><p><span style="font-family:Wingdings;font-size:9.960000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:281.714691px;left:118.368340px"><nobr> </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-weight:bold;color:#333333;"><span style="position:absolute;top:281.653412px;left:142.350113px"><nobr>Quels sont vos droits et comment les exercer ? </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:319.897064px;left:94.381241px"><nobr>Conformément à la Règlementation Informatique et Libertés et dans ses limites, vous disposez </nobr></span><span style="position:absolute;top:339.618896px;left:94.381241px"><nobr>d ’un droit d ’accès, de rectification, d ’effacement (en particulier si elles ont été recueillies </nobr></span><span style="position:absolute;top:359.140778px;left:94.381241px"><nobr>lorsque vous étiez mineurs), d ’opposition, de limitation et de portabilité des Données vous </nobr></span><span style="position:absolute;top:378.502594px;left:94.381241px"><nobr>concernant. </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:408.105469px;left:94.381241px"><nobr>Lorsque le traitement de vos Données est effectué sur le fondement de votre consentement, </nobr></span><span style="position:absolute;top:427.467285px;left:94.381241px"><nobr>vous pouvez retirer votre consentement à tout moment. </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:457.230103px;left:94.381241px"><nobr>Lorsque le traitement est fondé sur l ’intérêt légitime de l ’Editeur ou d ’un tiers, vous pouvez </nobr></span><span style="position:absolute;top:476.752014px;left:94.381241px"><nobr>vous opposer au traitement à tout moment, pour des raisons tenant à votre situation </nobr></span><span style="position:absolute;top:496.273865px;left:94.381241px"><nobr>particulière. Toutefois, lorsque le but du traitement est la prospection, vous pouvez vous </nobr></span><span style="position:absolute;top:515.795654px;left:94.381241px"><nobr>opposez à ce traitement sans motif, y compris au profilage dans la mesure où il est lié à une </nobr></span><span style="position:absolute;top:535.157471px;left:94.381241px"><nobr>telle prospection. </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:564.920349px;left:94.381241px"><nobr>Vous avez la possibilité de définir des directives relatives au sort de vos Données Personnelles </nobr></span><span style="position:absolute;top:584.308838px;left:94.381241px"><nobr>après votre décès. </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:613.911682px;left:94.381241px"><nobr>L ’exercice de ces droits s ’effectue à tout moment, auprès de l ’Editeur, lorsqu ’il est responsable </nobr></span><span style="position:absolute;top:633.273499px;left:94.381241px"><nobr>de traitement : </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-weight:bold;color:#333333;"><span style="position:absolute;top:662.876343px;left:94.381241px"><nobr>Par voie postale, en écrivant à : Code Sarl U adresse </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-weight:bold;color:#333333;"><span style="position:absolute;top:692.479187px;left:94.381241px"><nobr>Par voie électronique à : code@développement.mg </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:722.081909px;left:94.381241px"><nobr>Vous pouvez par ailleurs contacter le délégué à la protection des données personnelles via </nobr></span><span style="position:absolute;top:741.603760px;left:94.381241px"><nobr>notre <span style="color:#337AB7;"><a href="https://www.parismatch.com/Services/Contact" target="_blank">formulaire </a></span><span style="color:#333333;">de contact, en sélectionnant le destinataire suivant : "Contacter le Délégué </span></nobr></span><span style="position:absolute;top:760.965637px;left:94.381241px"><nobr>à la protection des données personnelles". </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:790.728516px;left:94.381241px"><nobr>Les Données Personnelles qui vous seront communiquées dans le cadre de l ’exercice de votre </nobr></span><span style="position:absolute;top:810.090332px;left:94.381241px"><nobr>droit d ’accès et/ou de portabilité, le sero nt à titre personnel et confidentiel. </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:839.893127px;left:94.381241px"><nobr>A ce titre, pour que votre demande d ’accès et/ou de portabilité soi(en)t prise(s) en compte, </nobr></span><span style="position:absolute;top:859.415039px;left:94.381241px"><nobr>nous vous demandons de bien vouloir nous fournir les éléments nécessaires à votre </nobr></span><span style="position:absolute;top:878.936829px;left:94.381241px"><nobr>identification, à savoir, une attestation é crite sur l ’honneur par laquelle vous certifiez être le </nobr></span><span style="position:absolute;top:898.458679px;left:94.381241px"><nobr>titulaire des dites Données Personnelles ainsi qu ’une photocopie de votre pièce d ’identité </nobr></span><span style="position:absolute;top:917.820557px;left:94.381241px"><nobr>comportant une signature. </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:977.026245px;left:94.381241px"><nobr>En cas de litige, vous disposez du droit de saisir la Commission Nationale de l ’I nformatique et </nobr></span><span style="position:absolute;top:996.382568px;left:94.381241px"><nobr>des Libertés. </nobr></span></span></p>','<p><span style="font-family:Wingdings;font-size:9.960000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:97.510582px;left:118.368340px"><nobr> </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-weight:bold;color:#333333;"><span style="position:absolute;top:97.449303px;left:142.350113px"><nobr>Sécurité </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:135.879562px;left:94.381241px"><nobr>L\'Editeur prend des mesures adéquates sur le plan de la technique et de l\'organisation pour </nobr></span><span style="position:absolute;top:155.401443px;left:94.381241px"><nobr>interdire l\'accès non autorisé ou la divulgation des Données de l\'Utilisateur à des personnes </nobr></span><span style="position:absolute;top:174.923340px;left:94.381241px"><nobr>non autorisées. Cependant, l\'Editeur ne peut garantir l\'élimination de tout risque d\'utilisation </nobr></span><span style="position:absolute;top:194.445145px;left:94.381241px"><nobr>abusive des Données. Il importe que l\'Utilisateur préserve la confidentialité de ses identifiants </nobr></span><span style="position:absolute;top:213.806961px;left:94.381241px"><nobr>de façon à empêcher une utilisation illicite de son compte. </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:243.569824px;left:94.381241px"><nobr>L ’Utilisateur est informé e t accepte que les différentes Données Publiques soient susceptibles </nobr></span><span style="position:absolute;top:262.931641px;left:94.381241px"><nobr>d ’être publiées de manière centralisée lors de tout accès de l ’Utilisateur à son compte. </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:292.694427px;left:98.059265px"><nobr>L\'Editeur ne peut garantir la confidentialité ni la suppression des Données Publiques dans les </nobr></span><span style="position:absolute;top:312.216309px;left:94.381241px"><nobr>parties publiques des Services. L\'Editeur ne peut être tenu responsable du "spam" subi par </nobr></span><span style="position:absolute;top:331.738281px;left:94.381241px"><nobr>l\'Utilisateur des Services qui décide volontairement et spontanément de publier en ligne son </nobr></span><span style="position:absolute;top:351.300049px;left:94.381241px"><nobr>adresse email. Il est précisé que la mention de votre email dans un formulaire de collecte reste </nobr></span><span style="position:absolute;top:370.661865px;left:94.381241px"><nobr>confidentielle, ce n ’est pas une publication en ligne. </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:400.264740px;left:98.059265px"><nobr>À tout moment, l ’Utilisateur peut solliciter la suspension de cette publication, étant précisé </nobr></span><span style="position:absolute;top:419.946533px;left:94.381241px"><nobr>que la structure complexe du réseau internet et l ’intervention de tiers opérateurs de </nobr></span><span style="position:absolute;top:439.468414px;left:94.381241px"><nobr>référencement et/ou de moteurs de recherche sont susceptibles de maintenir la diffusion et </nobr></span><span style="position:absolute;top:458.990234px;left:94.381241px"><nobr>l ’accès sur internet à certaines Données une fois qu ’elles ont été diffusées, et ce </nobr></span><span style="position:absolute;top:478.352112px;left:94.381241px"><nobr>indépendamment de la volonté de l\'Editeur </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:507.954956px;left:98.059265px"><nobr>En cas de demande d ’effacement, l ’E diteur intervient dans les délais légaux afin de procéder </nobr></span><span style="position:absolute;top:527.476807px;left:94.381241px"><nobr>à la suppression de la Donnée (ou son anonymisation s ’agissant des contributions publiques) </nobr></span><span style="position:absolute;top:546.838623px;left:94.381241px"><nobr>mais n ’est pas responsable des traces résiduelles susceptibles d ’être trouvées sur Internet. </nobr></span></span></p><p><span style="font-family:Wingdings;font-size:9.960000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:614.773010px;left:118.368340px"><nobr> </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-weight:bold;color:#333333;"><span style="position:absolute;top:614.711731px;left:142.350113px"><nobr>Enfants </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:653.115417px;left:98.059265px"><nobr>L\' Editeur obtient le consentement des parents ou des titulaires de l ’autorité parentale et/ou </nobr></span><span style="position:absolute;top:672.637268px;left:94.381241px"><nobr>de l ’enfant en fonction de son âge, dans les conditions prévues par la Règlementation </nobr></span><span style="position:absolute;top:691.999146px;left:94.381241px"><nobr>Informatique et Libertés. </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-weight:bold;color:#333333;"><span style="position:absolute;top:759.685547px;left:142.350113px"><nobr>TRAITEMENTS DONT L ’EDITEUR N ’EST PAS RESPONSABLE DE TRAITEMENT </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:798.089172px;left:94.381241px"><nobr>Certaines de vos Données Personnelles collectées sur le Site et les Applications peuvent être </nobr></span><span style="position:absolute;top:817.651062px;left:94.381241px"><nobr>utilisées pour le compte de partenaires tiers. Par ailleurs, des partenaires tiers peuvent traiter </nobr></span><span style="position:absolute;top:837.172852px;left:94.381241px"><nobr>des Données issues des Cookies pour leur propre compte. Ces derniers sont alors responsables </nobr></span><span style="position:absolute;top:856.534668px;left:94.381241px"><nobr>des traitements réalisés et vos droits s ’exercent en principe auprès d ’eux. </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:886.297546px;left:94.381241px"><nobr>Généralement, un tel transfert à des tiers ne s ’effectue qu ’avec votre consentement </nobr></span><span style="position:absolute;top:905.659424px;left:94.381241px"><nobr>préalable, sauf si un autre fondement juridique est plus adapté. </nobr></span></span></p><p><span style="font-family:Calibri;font-size:12.000000px;font-style:normal;font-weight:normal;color:#333333;"><span style="position:absolute;top:935.262146px;left:94.381241px"><nobr>Lorsque ces tiers sont responsables du traitement de vos Données, vous en êtes informés dans </nobr></span><span style="position:absolute;top:954.784058px;left:94.381241px"><nobr>les mentions ou documents contractuels spécifiques (formulaires de collecte, politique de </nobr></span><span style="position:absolute;top:974.145935px;left:94.381241px"><nobr>confidentialité du tiers partenaire ou client etc., partie Cookie de la Charte). </nobr></span></span></p>']
            }
        },
        mounted: function() {
            this.$nextTick(function() {
                this.pageNum = this.pageDatas.length;
                this.pageContent = this.pageDatas[0];

                this.setLeftMenuHeight();
            })
        },
        watch: {
            'currentPage': function(newVal, oldValue) {
                // console.log('newVal ' + newVal, 'oldValue ' + oldValue);
                if (newVal) {
                    this.pageContent = this.pageDatas[this.currentPage - 1];
                }
            },
            'zoomNum': function(newVal, oldValue) {
                if (newVal) {
                    this.zoomStyle = {
                        'transform': 'scale(' + newVal + ')',
                        '-webkit-transform': 'scale(' + newVal + ')',
                        '-ms-transform': 'scale(' + newVal + ')',
                        '-moz-transform': 'scale(' + newVal + ')',
                        '-o-transform': 'scale(' + newVal + ')'
                    }
                }
            }
        },
        methods: {
            
            changeCurrentPage: function(methods) {
                switch (methods) {
                    case 'first':
                        this.currentPage = 1;
                        break;
                    case 'prev':
                        if (this.currentPage > 1) {
                            this.currentPage -= 1;
                        }
                        break;
                    case 'next':
                        if (this.currentPage < this.pageNum) {
                            this.currentPage += 1;
                        }
                        break;
                    case 'last':
                        this.currentPage = this.pageNum;
                        break;
                }
            },

            gotoPage: function(page) {
                console.log(page);
                this.currentPage = page;
            },
            modifyZoom: function(type) {
                switch (type) {
                    case 'in':
                        if (this.zoomNum < 2) {
                            // this.zoomNum = (this.zoomNum + 0.1).toFixed(1);
                            this.zoomNum = (parseFloat(this.zoomNum) + 0.1).toFixed(1);
                        }
                        break;
                    case 'out':
                        if (this.zoomNum > 0.5) {
                            this.zoomNum = (parseFloat(this.zoomNum) - 0.1).toFixed(1);
                        }
                        break;
                    default:
                        break;
                }
                console.log(this.zoomNum);
            },
            setLeftMenuHeight: function() {
                // this.asideHeight = document.body.scrollHeight - 60;
                this.mainHeight = document.documentElement.clientHeight - 60 - 20;
                // 60为头部导航高度， 46为menu高度， 40为上下padding
                this.asideHeight = this.mainHeight - 20 - 46;
            },
            changePage: function(page) {
                this.currentPage = page;
                // this.pageContent = this.pageDatas[page - 1];
            },
            changeLeftMenu: function() {
                this.ifMenuShow = !this.ifMenuShow;
            }
        }
    });

function gotoPage(page) {
    console.log(page);
    app.gotoPage(page);
}

</script>

</html>