<div *ngIf="!loading" class="loader-div">
	<mat-spinner></mat-spinner>
</div>
<div class="container-fluid" id="account">
	<div class="row" style="height: 100vh;" *ngIf="loading">
		<div class="account-body">
			
		</div>
	</div>
</div>
