<div class="container-fluid" id="account">
  <div class="row" style="padding-top: 80px;">
    <!--<app-menu></app-menu>-->
    <div class="account-body">
      <app-subheader [title]="title"></app-subheader>
      <!--
      <div class="forward_button">
        <button
          routerLink="/myaccount"
          mat-raised-button
          color="primary">
          <i class="fa fa-chevron-left"></i> Retour
        </button>
      </div>
      -->
      <!-- <div class="col-md-12 my-10" style="margin-left: 20px;">
                <button
                    routerLink="/myaccount"
                    mat-raised-button
                    color="primary">
                    <i class="fa fa-chevron-left"></i>  Retour
                </button>
            </div> -->
      <!-- <h1 class="subheader" style="font-family: var(--ff-candara)">
                La liste de mes dossiers
            </h1> -->
      <div class="col-md-12 account-content" style="padding-top: 16px;">
        <mat-tab-group>
          <!--
          <mat-tab label="Test">
            <div class="row offre-list">
              <div class="col-md-3 col-sm-12 col-xs-12 offre" *ngFor="let
                infoQuiz of
                infoQuizs">
                <div
                  class="panel"
                  data-aos="fade"
                  data-aos-duration="1000"
                  data-aos-delay="0">
                  <div class="panel-heading">
                    <h3 [innerHTML]="infoQuiz.quizz.name"></h3>
                  </div>
                  <div class="panel-body">
                    <p>Associé à: <strong class="rose"
                        [innerHTML]="infoQuiz.offre?.titre
                        ?
                        infoQuiz.offre.titre : 'Aucun offre associé'"></strong></p>
                    <p>Dernier modification le: <strong class="rose">{{infoQuiz.quizz.updatedAt
                        |
                        date:'shortDate':'UTC':'fr'}}</strong></p>
            -->
                    <!-- <p><strong>Statut: </strong>{{infoQuiz.quizz.date_publication
                      ?
                      "publié le "+ (infoQuiz.quizz.updatedAt |
                      date:'shortDate':'UTC':'fr') : "non publié"
                      }}</p> -->
            <!--
                    <div class="row">
                    -->
                      <!-- <div class="col-md-6">
                        <mat-slide-toggle
                          [disabled]="!infoQuiz.offre.publier"
                          [(ngModel)]="infoQuiz.quizz.publier"
                          (change)="publierQuiz(infoQuiz,infoQuiz.quizz.publier)">Publier</mat-slide-toggle>
                      </div> -->
                    <!--
                      <div class="col-md-6">
                        <button
                          (click)="makeTestEnable(infoQuiz.quizz.id)"
                          type="button" class="btn btn-success">Activer</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>
          -->
          <mat-tab label="Offre">
            <div class="row offre-list">
              <div class="col-md-4 col-sm-12 col-xs-12 offre" *ngFor="let
                d of
                folder">
                <div
                  class="panel"
                  data-aos="fade"
                  data-aos-duration="1000"
                  data-aos-delay="0"
                  [routerLink]="['/detail_folder/' + d.id]">
                  <div class="panel-heading">
                    <h3 class="title">Dossier N° {{d.id}}</h3><br />
                    <h3 class="title">Offre : </h3>
                  </div>
                  <div class="panel-body">
                    <p>Titre du test: <strong class="rose">{{d.titre}}</strong></p>
                    <p>Auteur: <strong class="rose">{{d.auteur}}</strong></p>
                    <p style="text-align: justify">Fiche: <span
                        style="color: var(--c-gray)">{{d.fiche}}</span></p>
                    <p><strong>Remarque: </strong></p>
                    <p>{{d.remarque}}</p>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>

      </div>
    </div>
  </div>
</div>
