.start-button {
  background-color: #7ffe9f; /* Green */
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  margin-bottom: 10px;
}

.stop-button {
  background-color: rgba(255, 0, 0, 0.7); /* Red */
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  margin-bottom: 10px;

}

.cancel-button {
  background-color: #af7541; /* Brown */
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  margin-bottom: 10px;

}
