button.va
{
	margin: 0 auto;
	display: block;
	padding: 10px;
	border: 1px;
	font-size: 18px;
	text-shadow: 0px 0px 5px #000a;
}
.va:hover
{
	color: #fff;
	background-color: #449d44;
	border-color: #398439;
}
