
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Talent-primary: mat-palette($mat-indigo);
$Talent-accent: mat-palette($mat-blue, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Talent-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Talent-theme: mat-light-theme((
  color: (
    primary: $Talent-primary,
    accent: $Talent-accent,
    warn: $Talent-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($Talent-theme);

/* You can add global styles to this file, and also import other style files */


/* GENERAL */

:root
{

	// font-size
	--f-up-title: 3rem;
	--f-down-title: calc(2rem);
	--f-up-subtitle: calc(1.3rem);
	--f-down-content: calc(3rem-1pt);
	
	// font-family
	--ff-lucida: "Lucida sans unicode", Arial, Roboto, Helvetica, sans-serif;
	--ff-candara: "Candara", Arial, Roboto, Helvetica, sans-serif;
	
	// color
	--clr-color1: #CC853F;
	--clr-color2: #665E48;
	--clr-color3: #FFC836;
	--clr-color4: #76D2CF;
	--clr-color5: #3639FF;
	--clr-rose: #ff0066;
	--clr-vert: #0cd219;
	--clr-orange: #f7c552;
	--clr-gris: #373a3c;
	
	--c-red: #f3533a;
	--c-red-dark: #db4b34;
	--c-red-light: #f9a99c;
	--c-orange: #fa9f42;
	--c-orange-1: #f4a460;
	--c-orange-2: #fea347;
	--c-orange-dark: #e18f3c;
	--c-orange-light: #fccfa0;
	--c-black: #373a3c;
	--c-black-dark: #323436;
	--c-black-light: #9b9c9d;
	--c-blue: #5acfc9;
	--c-blue-dark: #51bbb5;
	--c-blue-light: #ace7e4;
	--c-blue-classic: #215086;
	--c-blue-pantone: #144371;
	--c-turquoise-dark: #00ced1;
	--c-seegreen-light: #20b2aa;
	--c-gray: #808080;
	--c-dimgray: #696969;
	--c-slategray-light: #778899;
	--c-slategray: #708090;
	--c-gray: #808080;
}

$color1: #CC853F;
$color2: #665E48;
$color3: #FFC836;
$color4: #76D2CF;
$color5: #3639FF;
$rose: #ff0066;
$vert: #0cd219;
$orange: #f7c552; 

.color1 {color: $color1;}
.color2 {color: $color2;}
.color3 {color: $color3;}
.color4 {color: $color4;}
.color5 {color: $color5;}
.rose {color: var(--c-orange);}
.vert {color: $vert;}
.orange {color: $orange;}
.text-blue-dark { color: var(--c-turquoise-dark); }
.text-white { color: #fff }

*
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Arial, Roboto, Helvetica, sans-serif;
  outline: none;
  scroll-behavior: smooth;
}

html, body { height: 100%; }

body { 
	margin: 0;
	padding: 0;
	background: #fff;
}
a 
{
    color: var(--c-orange-dark);
    text-decoration: none;
    cursor: pointer;
}
a:hover, a:focus
{
    color: var(--c-orange-2);
}
.root {margin: 5px 0;}

::ng-deep.cdk-overlay-container { z-index: 111200 !important;}


.w-100 { width: 100%;}
.d_f { display: flex;}
.f_c { flex-direction: column;}
.f_r { flex-direction: row;}
.f_a_i_c { align-items: center;}
.f_j_c_c { justify-content: center;}
.f_j_c_b { justify-content: space-between;}
.f_j_c_a { justify-content: space-arround;}
.m-10 { margin: 10px;}
.my-10 { margin: 10px auto;}
.m-auto { margin: 0 auto;}
.btn {
    color: #fff;
    //border-radius: 0;
    border-width: 2px;
    box-shadow: 0 5px 25px -15px #000;
    transition: all 1s;
}
.btn:hover,.btn:focus,.btn:active {
    color: #fff;
    //border-radius: 0;
    box-shadow: 0 5px 25px -15px #000;
}
.btn-info {
    background-color: var(--c-turquoise-dark);
    border-color: var(--c-blue-light);
    transition: all 1s;
}
.btn-info:hover,.btn-info:focus,.btn-info:active {
	background-color: var(--c-blue);
	border-color: #fff;
}
.btn-primary {
    background-color: var(--clr-color5);
    border-color: var(--c-blue-light);
    transition: all 1s;
}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active {
	background-color: var(--c-turquoise-dark);
	border-color: #fff;
}
.btn-danger {
    background-color: var(--c-red);
    border-color: var(--c-red-dark);
    transition: all 1s;
}
.btn-danger:hover,.btn-danger:focus,.btn-danger:active {
	background-color: var(--c-red-dark);
	border-color: #fff;
}
.btn-default {
    color: #333;
}
.btn-default:hover,.btn-default:focus,.btn-default:active {
    color: #333;
}
.btn-spec {
    background-color: var(--c-blue-pantone);
    border-color: var(--c-blue-classic);
    color: var(--c-orange-dark);
    font-weight: bold;
    transition: all 1s;
}
.btn-spec:hover {
	background-color: var(--c-blue-classic);
	border-color: #fff;
}

.lz-color-defil {
	background: linear-gradient(90deg, #fafafa 0%, #e0e0e0 50%, #fafafa 100%);
	background-size: 1000px 640px;
	-webkit-animation: color-defil 10s infinite ease-in-out forwards;
	-moz-animation:  color-defil 10s infinite ease-in-out forwards;
	-o-animation: color-defil 10s infinite ease-in-out forwards;
	animation: color-defil 10s infinite ease-in-out forwards;
}

.wait
{
	height: 250px;
	width: 100%;
  	h3
  	{
		color: var(--c-orange-dark);
		text-shadow: 1px 1px 2px #0003;
  	}
}
.validator {
    position: relative;
}
.validator::after {
    position: absolute;
    width: 100%;
    height: 125%;
    z-index: 2;
    background: #fff3;
    top: -5px;
    left: 0;
    content: "";
}
.validator::before {
    position: absolute;
}


/* FIN GENERAL */


/* MODAL STYLE */


.modal.in .modal-dialog.offreClass
{
	width: 90%;
	margin: 10px auto;	
	.modal-content
	{
		margin-top: 80px;		
		.modal-header
		{
			margin-top: 0;
			h2
			{
				margin-top: 0;
				text-align: center;
			}
			.close
			{
				background: none;
				border: none;
			}
			.close:hover,
			.close:focus
			{
				background: none;
				border: none;
			}
		}
		.modal-body
		{
  			.row
  			{
    			.search_class
    			{
      				display: flex;
      				justify-content: flex-end;
      				margin: 0 auto 5px;
      				position: relative;
      				width: 100%;
      				.col-xs-12
      				{
      					margin-bottom: 5px;
      					.form-control::placeholder {
    							color: #fff;
								}
      					.form-control:hover, .form-control:focus, .form-control:active 
      					{
									box-shadow: 0px 0px 3px #0006;
								}
      					.input
      					{
      						border-radius: 0;
      						background: #999;
									color: #fff;
									border-bottom: 0 solid #ccc;
									transition: all .5s;
      					}
      					.input:focus, .input:hover, .input:active
      					{
									border-bottom: 3px solid #ccc;
      					}
      				}
    				.form-control-feedback
    				{
    					position: absolute;
      				right: 30px;
      				color: #fff;
    				}
    				input
    				{
      				padding: 5px 50px 5px 5px;
    				}
    			}
  				.col-md-12
  				{
  					height: 60vh;
  					overflow-y: auto;
  					.offre-item
  					{
    					padding: 5px 2%;
    					display: grid;
    					grid-template-columns: repeat(3, 1fr);
  						grid-gap: 10px;
  						//min-height: 10vh;
						
						  .titre
								  {
									line-height:65px;
								  } 
  						.panel
  						{
      						margin: 2% 1%;
      						background-color: #fff;
							border-radius: 25px 5px 5px 5px;
							border: none;
							box-shadow: 2px 2px 10px #0005;
							display: flex;
							flex-direction: column;
							justify-content: space-between;
							background: linear-gradient(45deg, #eee 30%, #fff 90%);
							//height: 45vH;
      						.panel-heading
      						{
      							padding: 0 15px;
      							min-height: 70px;
								  position: relative;
								  .logo 
								  {
									//width: 70%;
									//height: 150px;
									//background-color: red;
									//float:left;
									//top: 0px;
									align-content: center;
								  }
								  
      							img
      							{
      								height: 125px;
									width: 70%;
									border-radius: 20px;
									
									object-fit: cover;
									//position: absolute;
									//top: 0px;
									//left: 50px;
									box-shadow: 3px 3px 5px #0005;
									border: 2px solid #fff;
									//margin: 5 5 5 5;
									display: block;
									margin-left: auto;
									margin-right: auto;
									margin-top: 5px;
									
      							}
      							h3
      							{
									
									text-align: center;
      								margin-left: 50px;
  									p, h1, h2, h3, h4
  									{
  										font-size: 24px;
  										line-height: 1;
  										margin: 0;
  									}
      							}
      						}
      						.panel-body
      						{
								  padding: 0 15px;
								.btnP
								{
									margin-top: -70px;
									//margin-left: 175px;
								}

								  h3
								  {
									p
									{
										margin-top: 15px;  
										//margin-bottom: 5px;
										font-size: 24px;
										color:chocolate;										
									}
									
								  } 
								  
      							h4
      							{
      								line-height: 1.5;
      								text-align: justify;
      								white-space: pre-line;
      							}
      							.datePub
      							{
      								font-size: 9px;
      								right: 0;
      								color: #0D2;
      								background: #0D22;
									padding: 3px;
									box-shadow: 1px 1px 3px #0003;
									line-height: 1.2;
      							}
        						.inter 
        						{
									font-size: 14px;
									//width: 100%;
									color: #fff;
									background: linear-gradient(45deg, #2196F3 30%, #21CBF3 90%);
									//background-color: #9d9dce;
									border: none;
									padding: 5px 10px;
									border-radius: 3px;
									box-shadow: 2px 2px 5px #0005;
								}
      						}
      						.panel-footer
      						{
        						display: flex;
        						flex-direction: row;
        						justify-content: space-around;
        						align-items: center;
        						background-color: #999;
        						
        						.col-md-6
        						{
        							.inter 
        							{
										font-size: 14px;
										width: 100%;
										color: #fff;
										background: linear-gradient(45deg, #2196F3 30%, #21CBF3 90%);
										//background-color: #9d9dce;
										border: none;
										padding: 5px 10px;
										border-radius: 3px;
										box-shadow: 2px 2px 5px #0005;
									}
        						}
        						.fa-plus
        						{
          						color: #444;
        						}
      						}
  						}
  					}
  					.offre-item:before,
  					.offre-item:after
  					{
  						padding: 0;
    					border: 0;
    					content: none;
  					}
  				}
  			}
  		
  			button
  			{
  				margin: 10px auto;
  			}
  		}
  	}
  	.modal-content::after {
    	content: "";
    	display: table;
    	clear: both;
	}
}
.offre-list
{
	display: flex;
	flex-wrap: wrap;
	.offre
	{
  		padding-bottom: 2%;
		
  		.panel
  		{
    		margin: 2% 1%;
    		background-color: #fff;
    		//border: 3px solid #fff;
			border-radius: 25px 5px 5px 5px;
			border: none;
			box-shadow: 2px 2px 10px #0005;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			background: linear-gradient(45deg, #eee 30%, #fff 90%);
			height: 100%;
			cursor: pointer;
    		.panel-heading
    		{
      			padding: 0 15px;
      			min-height: 70px;
      			position: relative;
      			img
      			{
      				height: 60px;
					width: 60px;
					border-radius: 50%;
					object-fit: cover;
					position: absolute;
					top: 0px;
					left: 0px;
					box-shadow: 3px 3px 5px #0005;
					border: 2px solid #fff;
      			}
      			.title
      			{
      				text-align: center;
      				margin-left: 50px;
  					p, h1, h2, h3, h4
  					{
  						font-size: 24px;
  						line-height: 1;
  						margin: 0;
  					}
      			}
    		}
    		.panel-body
    		{
      			padding: 0 15px;
      			h4
      			{
      				line-height: 1.5;
      				text-align: justify;
      				white-space: pre-line;
      			}
      			.datePub
      			{
      				font-size: 9px;
      				right: 0;
      				color: #0D2;
      				background: #0D22;
					padding: 3px;
					box-shadow: 1px 1px 3px #0003;
					line-height: 1.2;
      			}
    		}
    		.panel-footer
    		{
      			display: flex;
      			flex-direction: row;
      			justify-content: space-around;
      			align-items: center;
      			background-color: #999;
      			
      			.col-md-6
      			{
        			.inter 
        			{
						font-size: 14px;
						width: 100%;
						color: #fff;
						background: linear-gradient(45deg, #2196F3 30%, #21CBF3 90%);
						//background-color: #9d9dce;
						border: none;
						padding: 5px 10px;
						border-radius: 3px;
						box-shadow: 2px 2px 5px #0005;
					}
      			}
      			.fa-plus
      			{
        			color: #444;
      			}
    		}
  		}
  		.panel:hover
  		{
  			transform: scale(1.02);
  		}
	}
	.offre:before,
	.offre:after
	{
  		padding: 0;
  		border: 0;
  		content: none;
	}
}	

.modal.in .modal-dialog.sign-header
{
	.row
	{
		//border-bottom: 1px solid #999;
		.activModal
		{
			background-color: #ddd;
			h2
			{
				color: darkgoldenrod;
				margin: 0;
				padding-top: 20px;
				padding-bottom: 10px;
				text-align: center;
			}
		}
	}
}

.modal.in .modal-dialog.deposerClass
{
	width: 80%;
	margin: 100px auto;
	.modal-content
	{
		.modal-body
		{
			.formulaire
			{
				padding: 0 20px;
				display: flex;
				flex-direction: column;
				align-items: center;
				
				.formDeposer
				{
					position: relative;
					p > i
					{
						color: #a94442;
					}
					h3
					{
						color: #f7c552;
						border-bottom: 2px solid #333;
						margin-top: 40px;
						padding-bottom: 10px;
					}
					mat-form-field
					{
						width: 100%;
					}
					.mat-datepicker-toggle
					{
						button
						{
							font-size: 2rem;
							vertical-align: bottom;
							//margin-right: 10px;
							top: -3px;
						}
					}
					.mat-radio-button
					{
						margin: 10px;
					}
					.mat-accordion
					{
						margin-bottom: 20px
					}
					.plus
					{
						text-align: right;
						margin: 10px;
    					color: #f7c552;
    					font-size: 2rem;
    					cursor: pointer;
    					i
    					{
    						color: #f7c552;
    					}
					}
					.btn-deposer
					{
						width: 100%;
						display: flex;
						justify-content: center;
					}
					
					
					table
					{
						border: none;
						tbody
						{
							display: flex;
							flex-direction: column;
							
							tr
							{
    						display: flex;
    						flex-direction: column;
    						border: none;
    						margin-top: 20px;
    						padding: 10px;
								border-radius: 10px;
								background-color: var(--c-orange-dark);
								box-shadow: 0 0 10px rgba(0,0,0,.2);
    						
    						td 
    						{
    					  	border: none;
    					  	display: flex;
    					  	span
    					  	{
    					  		font-weight: bold;
    					  		text-decoration: underline;
    					  		margin-right: 5px;
    					  	}
								}
							}
						}
					}
				}
				.formDeposer.readonly::after {
    				background: #fff6;
    				width: 100%;
    				height: 100%;
    				z-index: 1000;
    				content: '';
    				position: absolute;
    				top: 0;
				}
			}
  		}
  		h2
  		{
  			text-align: center;
  		}
  	}
}

table.list
{
	border: none;
	tbody
	{
		display: flex;
		flex-direction: column;
		
		tr
		{
    		display: flex;
    		flex-direction: column;
    		border: none;
    		margin-top: 20px;
    		padding: 10px;
			border-radius: 10px;
			background-color: var(--c-blue-light) !important;
			box-shadow: 0 0 10px rgba(0,0,0,.2);
    	
    		td 
    		{
    			border: none;
    			display: flex;
    			span
    			{
    				font-weight: bold;
    				text-decoration: underline;
    				margin-right: 5px;
    			}
			}
		}
	}
}


.modal.in .modal-dialog.loginRecClass
{
	margin-top: 80px;
	.close
	{
		span
		{
			padding: 2px 10px;
		}
	}
}

.modal.in .modal-dialog,
::ng-deep.modal-dialog
{
	margin-top: 100px;
}


.mat-form-field {
	width: 100%;
}
.mat-checkbox-label {
	white-space: normal;
}
.mat-radio-button {
	margin: 10px;
}

input:placeholder-shown + label {
  cursor: text;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left bottom;
  transform: translate(0, 2.125rem) scale(1.2);
}

.modal.in .modal-dialog .modal-content {
  .fa {
    font-size: 2rem;
    cursor: pointer;
  }
}
.modal.in .modal-dialog .modal-header {
	display: flex;
	flex-direction: column;
	padding: 15px 0 0;
	.close
	{
		margin-left: auto;
		margin-right: 0;
		margin-bottom: 5px;
	  padding: 0.2em 1.45em;
	  border: none;
	  color: #000 !important;
	  text-shadow: 0 0 3px #fff;
		font-size: 3rem;
		opacity: 1;
	}
	.close:hover,
	.close:focus
	{
		border: none;
	}
	h2
	{
		text-align: center;
	}
}

@media (max-width: 992px) {  

	.modal.in .modal-dialog.offreClass {
		width: 95%;
		
		.modal-content
		{
			margin-top: 18%;
			.modal-header
			{
				h2
				{
					margin: 0;
				}
			}
			.modal-body
			{
  				.row
  				{
    				.search_class
    				{
      					margin-right: 0;
    				}
  					.col-md-12
  					{
  						.offre-item
  						{
    						padding: 0 2%;
    						display: grid;
    						grid-template-columns: 1fr;
  							grid-gap: 10px;
    					}
  					}
  				}
  			}
  		}
  	}
	.modal.in .modal-dialog.deposerClass
	{
		width: 95%;
	}
	
	
}
@media (max-width: 480px) {
	.modal.in .modal-dialog.offreClass {
		width: 95%;
		
		.modal-content
		{
			margin-top: 23%;
			.modal-header
			{
				h2
				{
					margin: 0;
				}
			}
			.modal-body
			{
  			button
  			{
  				margin: 2% auto;
  			}
  		}
  	}
  }

}


/* MODAL STYLE FIN */


/* ACCOUNT */
#account
{
	min-height: 100vh;
	padding-bottom: 70px;
}
.account-body
{
  	.account-content
  	{
  		.table-responsive
		{
			box-shadow: 2px 2px 20px -5px #0005;
			table
			{
				tbody
				{
					tr
					{
						cursor: pointer;
					}
				}
			}
		}
  	}
}

.account-subheader
{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 3% 0;
  float: none;
	.col-md-10
	{
		display: flex;
		justify-content: space-between;
		align-items: center;
		img
		{
			height: 65px;
			margin-right: 5%;
			box-shadow: 3px 3px 15px #3333;
			border-radius: 10px;
		}
	}
	.col-md-2
	{
		display: flex;
		justify-content: flex-end;
		padding-right: 5%;
		a
		{
			position: relative;
			margin: 10px;
			i
			{
				font-size: 5rem;
				color: #000000b8;
				text-shadow: 0 0 5px red;
				cursor: pointer;
				position: relative;
			}
			.badge
			{
				right: -10px;
				position: absolute;
				bottom: -10px;
				background-color: #f00;
			}
		}
	}
}
.subheader
{
	text-align: center;
    color: var(--c-orange);
    width: 80%;
    // margin: -125px auto 50px;
    font-size: 5rem;
    //position: absolute;
    //width: 100%;
    pointer-events: none;
}

#detail {
  	padding-top: 80px;
  	padding-bottom: 50px;
  	//margin: 0 5%;
	position: relative;
	min-height: 100vh;
}

.content
{
  	.texte
  	{
  		text-align: justify;
  		white-space: pre-line;
  		line-height: 1.5;
  		color: #333;
  		ul
  		{
  			list-style: inside circle !important;
  		}
  		ol
  		{
  			list-style: inside !important;
  		}
  	}
  	h4
  	{
  		color: midnightblue;
		border-bottom: 1px solid midnightblue;
		margin-top: 20px;
  	}
}
.wave
{
	position: absolute;
	width: 100%;
	left: 0;
	bottom: -10px;
	z-index: -2;
	opacity: .2;
	svg
	{
		path
		{
			animation: back 10s infinite;
		}
	}
}
@media (max-width: 1900px) {
	.subheader
	{
    	width: 65%;
	}
}
@media (max-width: 992px) {
	.subheader
	{
    	width: 60%;
	}
}
@media (max-width: 767px) {
	.subheader 
	{
		width: 90%;
		margin: 15px auto 25px;
	}

	.modal.in .modal-dialog
	{
		width: 90%;
		margin: 100px auto;
	}
	::ng-deep .modal-dialog
	{
		width: 90%;
		margin: 100px auto;
	}
}


/* FIN ACCOUNT */


/* KEYFRAMES */


@-webkit-keyframes color-defil {
    0%{background-position-x:-1000px}
    50%{background-position-x:1000px}
    100%{background-position-x:-1000px}
}
@-moz-keyframes color-defil {
    0%{background-position-x:-1000px}
    50%{background-position-x:1000px}
    100%{background-position-x:-1000px}
}
@keyframes color-defil {
    0%{background-position-x:-1000px}
    50%{background-position-x:1000px}
    100%{background-position-x:-1000px}
}

/* CHECKBOX */

.control-group {
  width: 50%;
}

.control.control-checkbox:active {
  label {
      color: #131313;
  }
}

.control {
  font-weight: 300;
  position: relative;
  padding-left: 30px;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 16px;
  padding-top: 1px;
}

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control_indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 19px;
  width: 19px;
  border: 1px solid #d98c19;
  border-radius: 50%;
  background-color: #ffffff;
}

.control-radio .control_indicator {
  border-radius: none;
}

.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
  background: #ffffff;
}

.control input:checked ~ .control_indicator {
  background: #d98c19;
}

.control input:checked:focus ~ .control_indicator {
  background: #d98c19;
}

.control_indicator:after {
  box-sizing: unset;
  content: "";
  position: absolute;
  display: none;
}

.control input:checked ~ .control_indicator:after {
  display: block;
}

.control-checkbox .control_indicator:after {
  left: 6px;
  top: 2px;
  width: 4px;
  height: 9px;
  border: solid #f5eded;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/* FIN CHECKBOX */




/* HOVER STYLE */

/* Icon Grow Rotate */
.hvr-icon-grow-rotate {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-icon-grow-rotate .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-icon-grow-rotate:hover .hvr-icon, .hvr-icon-grow-rotate:focus .hvr-icon, .hvr-icon-grow-rotate:active .hvr-icon {
  -webkit-transform: scale(1.5) rotate(12deg);
  transform: scale(1.5) rotate(12deg);
}

.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}


/* Wobble Vertical */
@-webkit-keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.hvr-wobble-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-wobble-vertical:hover, .hvr-wobble-vertical:focus, .hvr-wobble-vertical:active {
  -webkit-animation-name: hvr-wobble-vertical;
  animation-name: hvr-wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
.hvr-wobble-vertical-infinite {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-animation-name: hvr-wobble-vertical;
  animation-name: hvr-wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}


/* Icon Sink Away */
@-webkit-keyframes hvr-icon-sink-away {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(1em);
    transform: translateY(1em);
  }
}
@keyframes hvr-icon-sink-away {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(1em);
    transform: translateY(1em);
  }
}
/* Icon Sink Away */
.hvr-icon-sink-away {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-icon-sink-away .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.hvr-icon-sink-away:hover .hvr-icon, .hvr-icon-sink-away:focus .hvr-icon, .hvr-icon-sink-away:active .hvr-icon {
  -webkit-animation-name: hvr-icon-sink-away;
  animation-name: hvr-icon-sink-away;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}



/* Icon Sink */
.hvr-icon-sink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-icon-sink .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-icon-sink:hover .hvr-icon, .hvr-icon-sink:focus .hvr-icon, .hvr-icon-sink:active .hvr-icon {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
}


/* Bounce To Top */
.hvr-bounce-to-top {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-to-top:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f7c552;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-top:hover, .hvr-bounce-to-top:focus, .hvr-bounce-to-top:active {
  color: white;
}
.hvr-bounce-to-top:hover:before, .hvr-bounce-to-top:focus:before, .hvr-bounce-to-top:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}



/* Shadow Radial */
.hvr-shadow-radial {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
}
.hvr-shadow-radial:before, .hvr-shadow-radial:after {
  pointer-events: none;
  position: absolute;
  content: '';
  left: 0;
  width: 100%;
  box-sizing: border-box;
  background-repeat: no-repeat;
  height: 5px;
  opacity: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.hvr-shadow-radial:before {
  bottom: 100%;
  background: -webkit-radial-gradient(50% 150%, ellipse, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at 50% 150%, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 80%);
}
.hvr-shadow-radial:after {
  top: 100%;
  background: -webkit-radial-gradient(50% -50%, ellipse, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at 50% -50%, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 80%);
}
.hvr-shadow-radial:hover:before, .hvr-shadow-radial:focus:before, .hvr-shadow-radial:active:before, .hvr-shadow-radial:hover:after, .hvr-shadow-radial:focus:after, .hvr-shadow-radial:active:after {
  opacity: 1;
}

/* FIN HOVER STYLE */

.loader-div {
	position: fixed;
	width: 100%;
	height: 110vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #000b;
	z-index: 2000000;
	color: #eee;
	font-size: 3rem;
	top: -10px;
	left: 0;
}

.loader {
  margin: 100px auto;
  font-size: 25px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}
@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}





/* HOME STYLE */




#parentDiv
{
	padding-top: 0;
	width: 100%;
	background-size: cover;

	* 
	{
	  outline: none;
	}
	a
	{
	  cursor: pointer;
	}
	p
	{
		 font-family: var(--ff-lucida);
		 font-size: var(--f-down-content);
	}
	.page-section
	{
		padding: 15vh 0 0;
	}

	.icon {
	  width: 110px;
	  height: 110px;
	  text-align: center;
	  line-height: 104px;
	  border: 3px solid #fff;
	  border-radius: 50%;
	  background-color: var(--c-orange);
	  vertical-align: center;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  margin: auto;
	}

	i {
	  color: #fff;
	  font-size: 4rem;
	}

	.line-dec {
	  width: 20%;
	  border-bottom: 1px solid #d4d4d4;
	  margin-bottom: 20px;
	}

	.down {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  margin: 30px auto;
	  svg {
	    width: 50px;
	    height: auto;
	    path {
	      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
	    }
	  }
	}




	#main-banner {

	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  height: 100vh;
	  padding-top: 25vh;

	  .text-content {
	    text-align: center;
	    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);

			h1 {
				margin: 20px;
				font-size: 5rem;
				font-weight: 600;
				color: #fff;
			}
			h2 {
				margin: 20px;
				font-size: 4.5rem;
				font-weight: 500;
				color: #eee;
			}

			h3 {
				margin: 20px;
				font-size: 3rem;
				font-weight: 400;
				color: #ddd;
			}
		}
	}

	#offre {
	  min-height: 100vh;

	  .row
	  {
	    .col-md-4
	    {
	      padding: 20px;

	      .service-item
	      {
	        display: flex;
	        flex-direction: column;
	        justify-content: space-around;
	        align-items: center;
	        font-size: var(--f-down-title);
	        
	        h4 {
	          color: #fff;
	          padding: 5px;
	          font-size: var(--f-down-title);
	        }
	        a 
	        {
	          cursor: pointer;
	          font-size: var(--f-up-subtitle);
	          background: var(--c-seegreen-light);
	          transition: all 1s;
	        }
	        a :hover
	        {
	          background: var(--c-turquoise-dark);
	        }
	      }
	    }
	  }
	}

	#derniers_offres {
	  .row {
	    display: flex;
	    justify-content: space-around;
	  }
	  h3 {
	    color: #fff;
	    font-size: 3rem;
	    padding: 25px;
	  }
	  mat-card {
	    margin: 10px 10px;
	    background-color: #f7c552;
	    border: 3px solid #fff;
	  }
	  mat-card-title {
	    text-align: right;
	    justify-content: end;
	  }
	  mat-card-subtitle {
	    text-align: left;
	  }
	}

	#candidature_spontanee {
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
	  
	  h2
	  {
	    color: #fff;
	  }
	}

	// formulaire candidature (Postuler)

	.formul
	{
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
	  padding: 30px;
	  width: 100%;

	  form
	  {
	    width: 100%;

	    table
	    {
	      width: 100%;

	      .parent-row
	      {
	        display: flex;
	        justify-content: space-between;
	        padding: 10px;
	        width: 100%;

	        td
	        {
	          display: flex;
	          flex: 1;
	          flex-direction: column;
	          tr
	          {
	            mat-form-field
	            {
	              background-color: rgba(255,255,255,0.5);
	              width: 80%;
	              margin: 10px;
	              height: 100%;
	              padding: 5px;

	              input
	              {
	                border: none;
	              }
	              textarea
	              {
	                height: 100%;
	              }
	            }
	          }
	        }

	        td:nth-child(2)
	        {
	          padding: 10px;

	          mat-form-field
	          {
	            background-color: rgba(255,255,255,0.5);
	            width: 100%;
	            height: 100%;
	            padding: 5px;
	          }
	        }
	      }
	      .upload
	      {
	        .btn
	        {
	          display: flex;
	          flex-direction: row;
	          justify-content: space-around;
	          align-items: center;
	          
	          i, span
	          {
	            margin-right: 5px;
	            color: #fff;
	          }
	          input
	          {
	            border-bottom: none;
	          }
	        }
	      }
	      .envoyer
	      {
	        display: flex;
	        flex-direction: row;
	        justify-content: flex-end;
	      }
	    }
	  }
	}



	#testimonial {
		position: relative;
		background-color: inherit;
		box-shadow: 0 0 20px black;
	  	z-index: 1;
	  	padding: 80px 0;
	  	margin-left: -15px;
	  	margin-right: -15px;
	  	.title
	  	{
	  		width: 100%;
	  		margin: 0 auto;
	  		h2 {
	    		//font-size: 2rem;
				color: #fff;
	    		font-weight: 600;
	    		text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
	    		display: inline-flex;
	    		.slider-cont
	    		{
	    			height: 40px;
	    			padding: 0 15px;
	    			box-sizing: border-box;
	    			text-align: left;
	    			overflow: hidden;
	    			.slide-text
	    			{
	    				animation: slider 10s linear infinite;
	    				//margin-top: 8px;
	    				span
	    				{
	    					height: 30px;
	    					margin-bottom: 30px;
	    				}
	    			}
	    		}
	  		}
	  	}
	  	.container
	  	{
	  		padding: 5vh 0 15vh;
	  	}
		
	  	.btn {
	    	margin: 25px auto;
	    	text-transform: uppercase;
	    	// border-radius: 10px;
	  	}
	  	.bg-carousel::before
	  	{
	  		z-index: -1;
	  		content: "";
	  		position: absolute;
	  		top: 0; 
	  		left: 0;
	  		width: 100%; 
	  		height: 100%;  
	  		background-image: url('assets/img/bg-laptop.png');
	  		background-position: center center;
	  		background-size: contain;
	  		background-repeat: no-repeat;
	  		filter: drop-shadow(0 0 10px #000);
	  	}
	  	.bg-carousel
	  	{
	  		position: relative;
	  		z-index: 1;
	  		//background-image: url('../../../assets/img/bg-laptop.png');
	  		background-position: center center;
	  		background-size: contain;
	  		background-repeat: no-repeat;
	  		filter: drop-shadow(0 0 20px #000);
	  		padding: 4% 0 6%;
	  		margin: 1% 2%;
	  		
	  		
	  		#myCarousel {
	  			padding: 0;
	    		ol li {
	      		box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
	    		}
	    		.carousel-inner {
	      		margin: 0 auto;
	      		width: 30%;
	      		height: auto;
	      		box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
			
	      		img {
	        		opacity: 0.8;
	      		}
	      		h3 {
	        		color: #ededed;
	        		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
	      		}
	      		p {
	        		color: #fff;
	        		text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
	      		}
	      		i {
	        		margin: auto 0;
	      		}
	      		.carousel-control {
	        		display: flex;
	        		align-items: center;
	        		justify-content: center;
	      		}
	    		}
	    		.carousel-inner:hover img {
	      		opacity: 1;
	    		}
	  		}
	  	}
	}
	#testimonial::before {
	  content: "";
	  position: absolute;
	  top: 0; 
	  left: 0;
	  width: 100%; 
	  height: 100%;  
	  opacity: .6; 
	  z-index: -5;
	  background-image: url('assets/img/bg-crystal.jpg');
	  background-position: center bottom;
	  background-size: cover;
	  background-repeat: no-repeat;
	}
	#testimonial::after {
	  content: "";
	  position: absolute;
	  top: 0; 
	  left: 0;
	  width: 100%; 
	  height: 100%;  
	  opacity: 1; 
	  z-index: -10;
	  background-color: #333;
	}

	@keyframes slider
	{
		0% { transform: translateY(60px); }
		5% { transform: translateY(0px); }
		33% { transform: translateY(0px); }
		38% { transform: translateY(-60px); }
		66% { transform: translateY(-60px); }
		71% { transform: translateY(-120px); }
		100% { transform: translateY(-120px); }
	}



	#service {
	  	// margin-top: 80px;
	  	background-image: url("assets/img/banner_bg.jpg");
	  	background-repeat: no-repeat;
	  	background-size: cover;
	  	background-attachment: fixed;
	  	min-height: 100vh;
		
	  	h3 {
	    	color: #fff;
	    	font-size: 3rem;
	    	padding: 25px;
	    	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
	  	}
	  	h5 {
	    	color: #ddd;
	    	font-size: var(--f-down-title);
	    	margin-top: 10px;
	  	}
	  	p {
	    	color: #bbb;
	    	//font-size: 1.5rem;
	    	margin-top: 10px;
	  	}
		a
		{
	  		color: var(--c-seegreen-light);
		}
		a:hover
		{
	  		color: var(--c-turquoise-dark);
		}
	}

	#partenaires {
	  	padding-bottom: 10vh;
	  	
	  	h3 {
	    	color: #fff;
	    	font-size: 3rem;
	    	padding: 25px;
	    	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
	  	}
	  	
	  	.bg-partenaire
	  	{
	  		display: flex;
			flex-direction: column;
			align-items: center;
			.carousel
			{
				width: 70%;
				z-index: 0;
				img 
				{
					cursor: pointer;
				}
			}
			#partenaireSlide
			{
				width: 50%;
	    		.carousel-inner {
	      			.carousel-control {
	        			display: flex;
	        			align-items: center;
	        			justify-content: center;
	        		}
	      		}
			}
	  	}
	}


	/* FLOATING LABEL */

	::ng-deep.signin
	{
		form
		{
			.col-md-12
			{
				display: flex;
				flex-direction: column;
			}
		}
	}
	.field {
	  display: flex;
	  flex-flow: column-reverse;
	  margin-bottom: 1em;
	  
	  border-bottom: 2px solid;
	  span {
	  		z-index: 2000;
			right: 20px;
			position: absolute;
			cursor: pointer;
	  }
	}

	label,
	input {
	  transition: all 0.2s;
	  touch-action: manipulation;
	}

	label {
	  font-size: 14px;
	  // color: #b9b9b9;
	  margin-bottom: 16px;
	}

	.date {
	  border-bottom: none;
	}


	/**
	  * By default, the placeholder should be transparent. Also, it should
	  * inherit the transition.
	  */

	::-webkit-input-placeholder {
	  opacity: 0;
	  transition: inherit;
	}

	/**
	  * Show the placeholder when the input is focused.
	  */

	input:focus::-webkit-input-placeholder {
	  opacity: 1;
	}

	/**
	  * When the element is focused, remove the label transform.
	  * Also, do this when the placeholder is _not_ shown, i.e. when
	  * there's something in the input at all.
	  */

	button {
	  display: block;
	  padding: 0.2em 1.45em;
	  margin: 0.1em;
	  color: #000000;
	  text-align: center;
	  position: relative;
	  margin: 0 auto;
	  font-size: 15px;
	}
	::ng-deep.ngx-pagination .pagination-previous a ,
	::ng-deep.ngx-pagination .pagination-previous li,
	::ng-deep.ngx-pagination .pagination-next a,
	::ng-deep.ngx-pagination .pagination-next li,
	::ng-deep.ngx-pagination span {
	  color: white !important;
	  background-color: transparent !important;
	}
	::ng-deep.ngx-pagination .pagination-previous li:hover a,
	::ng-deep.ngx-pagination .pagination-next li:hover a,
	::ng-deep.ngx-pagination li:hover span {
	  color: black !important;
	  background-color: #eee;
	}

	::ng-deep.ngx-pagination .current {
	  color: black !important;
	  border: 1px solid #000000;
	  background-color: inherit;
	}

	::ng-deep.ngx-pagination .pagination-previous::before,
	::ng-deep.ngx-pagination .pagination-previous a::before,
	::ng-deep.ngx-pagination .pagination-next::after,
	::ng-deep.ngx-pagination .pagination-next a::after {
	  content: none;
	}
	::ng-deep.ngx-pagination .show-for-sr {
	  border: 1px solid #b3b3b3;
	}

	@media (max-width: 767px) {  


	  #testimonial {
	  	#myCarousel {
	    	.carousel-inner {
	      	width: 100%;
	    	}
	  	}
	  }
	  #derniers_offres {
	  	display: flex;
			flex-direction: column;
			align-items: center;

	  	.row {
	    	flex-direction: column;
	    	width: 100%;
	  		
	  		mat-card {
	    		margin: 5px 0;
	  		}
			}
		}
		#service {
			padding-left: 5px;
			padding-right: 5px;
		}
		.currentSection {
	    display: none;
	  }
	  #partenaires {
			.tab-container
			{
				flex-direction: column;
				::ng-deep ul.nav-pills
				{
					width: 90%;
				}
				.tab-pane.active
				{
					padding: 20px;
					
					.text-content
					{
						h4
						{
							font-size: 2rem;
	    				padding: 0;
						}
						p {
	    					font-size: 1.2rem;
						}
					}
				}
			}
		}
	}
	@media (max-width: 767px) {
	  #main-banner {
	    .text-content {

	      h1 {font-size: 28px;}
	      h2 {font-size: 20px;}
	      h3 {font-size: 18px;}
	    }
	  }
	  
		#testimonial {
			padding: 80px 0 20px;
	  		.title
	  		{
	  			h2 
	  			{
	  				font-size: 1.6rem;
	    			.slider-cont
	    			{
	    				padding: 0 5px;
	    			}
	  			}
	  		}
	  		.bg-carousel
	  		{
	  			padding: 8% 0 15%;
	  			
	  			
	  			#myCarousel {
	    			.carousel-inner {
	      				width: 60%;
					
	      				img {
	        				opacity: 1;
	      				}
	    			}
	  			}
	  		}
	  	}
	}
}

::ng-deep.slideClass,
.modal.in .modal-dialog.slideClass
{
	width: 90%;
	margin: 100px auto;
	.modal-content
	{
		//margin-top: 10%;
		border-radius: 0;
		.modal-body
		{
			padding: 0;
			
  		#myCarouselS {
  			padding: 0;
    		.carousel-inner {
      		.carousel-control {
        		display: flex;
        		align-items: center;
        		justify-content: center;
      		}
    		}
  		}
		}
	}
}






/*  HEADER STYLE  */





a {
	cursor: pointer;
}
.disable {
	margin-top: -1500px;
	opacity: 0;
}
.collapse.able {
    display: block;
    visibility: visible;
}

.white-color
{
	color: #fff !important;
}
.white-color:hover, 
.white-color.active
{
	color: #000 !important;
}
.connect
{
	position: fixed;
	width: 200px; 
	top: 20px;
	left: 98vw;
	z-index: 100000;
	background: var(--c-slategray);
	border-radius: 25px;
	padding: 5px 30px 5px 10px;
	opacity: .8;
	transition: all 1s;
	a
	{
		color: #fff;
		cursor: pointer;
		text-decoration: none;
	}
}
.connect:hover,
.connect:focus, 
.connect:active
{
	left: 92vw;
	background: var(--c-seegreen-light);
	opacity: 1;
}

.dpdn {
	position: relative;
	.dpdn-menu {
		display: none;
		position: absolute;
		opacity: 0;
		visibility: hidden;

		background-color: var(--c-orange-2);
		border: 0;
		border-radius: 0;
		width: max-content;
		transition: all 1s ease-in-out;

		li {
			width: 100%;

			.dpdn-item {
				width: 100%;
				margin: auto;
				display: flex;
				flex-direction: row;
				align-items: center;
				border-top: 1px solid #3333;

				mat-icon {
					margin-right: 5px;
				}
			}
		}
	}
}
.dpdn:hover,
.dpdn:focus,
.dpdn:active,
.dpdn.active {
	.dpdn-menu {
		display: block;
		opacity: 1;
		visibility: visible;
		transition: all 1s ease-in-out;
	}
}

.header {
	z-index: 20000;
	transition: all 0.2s ease-in-out;
	background-color: var(--c-dimgray);
	text-align: center;
	line-height: 40px;
	height: max-content;
	width: 100vw;
	
	.navbar {
    	border-bottom: 3px solid var(--c-orange-1);
    	border-radius: 0;
	}
	.navbar-brand {
		height: 80px;
		font-size: 2rem;
		display: flex;
		align-items: baseline;
		line-height: 4;
		em {
			font-size: 2.5rem;
    		color: var(--c-orange-1);
		}
		img
		{
			margin-right: 10px;
			margin-top: 10px;
		}
	}
	.navbar-nav {
		transition: all 0.5s fade;
		width: calc(100% - 250px);
		li {
			margin-left: 0;
			a {
				padding: 0 15px;
				font-size: 1.5rem;
				letter-spacing: 2px;
				cursor: pointer;
				font-weight: bold;
				text-transform: uppercase;
				text-shadow: none;
				text-decoration: none;
				color: #000;
			}
			a:hover, a:focus {
				background-color: #fff;
				color: #000;
				transition: all 0.5s;
			}
		}
	}
}
li > .active {
	background-color: #fff;
	color: #000;
	transition: all 1s ease-in-out;
}
.header.active {
	background-color: var(--c-dimgray);
}
.header.active .navbar-nav li a {
	padding: 0 15px;
	font-size: 1.5rem;
	letter-spacing: 2px;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: none;
	color: #000;
}

.header.active .navbar-nav > li > a:hover,
.header.active .navbar-nav > li > a:focus {
	color: #000;
	background-color: #fff;
	transition: all 0.5s;
}
.active > a:focus {
	color: #000;
	background-color:transparent;
	transition: all 0.5s;
}
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #000;
    background-color: #fff;
}
.navbar-inverse .navbar-toggle {
    border: 2px solid var(--c-orange-1);
    color: var(--c-orange-1);
    background-color: transparent;
    line-height: 1;
    font-size: 1.6rem;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    color: #fff;
    background-color: transparent;
}
.forward_button{
	margin-left: 60px;
}
.forward_total{
	display: flex;
	justify-content: space-between;
}
.mat-tab-body-content {
    height: 100%;
		overflow: hidden !important;
		padding: 4px;
}