.container
{
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	margin: 0 auto;
	background-color: #fff;
	z-index: 1000;
	.list-group {
		margin: 0;
		ul {
			display: flex;
			flex-flow: row;
			justify-content: space-around;
			align-items: center;
			list-style: none;
			li {
				cursor: pointer;
				//font-family: "Lato";
				//font-weight: 400;
				//font-size: 16px;
				text-transform: uppercase;
				text-align: center;
				margin: 0 5px;
				//padding: 10px 0px;
				//color: #131313;
				a {
					color: #ff0066;
					background-color: #555;
					//background: linear-gradient(45deg, #2196F3 30%, #21CBF3 90%);
					border-radius: 0;
					border: 0;
					//color: white;
					box-shadow: 0 3px 5px 2px #5553;
				}
			}
			li>img {
				padding-right: 5%;
			}
		}
	}
}


.container {
	padding-top: 2%;
}

h3 {
		//margin-right: 7%;
		//font-family: "Lato";
		font-weight: 300;
		//font-size: 14px;
		color: #131313;
		//padding: 6%;
}

.menu-candidat
{
	position: fixed;
	z-index: 1000;
	padding-top: 90px;
	width:100%;
	transition: all 1s;
	.hider
	{
		display: inline;
		transition: all 1s;
	}
}
.disconnect
{
	position: fixed;
	right: 15px;
	top: 90px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	color: #d44457;
	border: 2px solid #d44457;
	text-decoration: none;
	i
	{
		font-size: 35px;
		transition: font-size 1s;
	}
}
.disconnect:hover
{
	color: #d9534f;
	border: 2px solid #d9534f;
	i
	{
		font-size: 37px;
		transition: font-size 1s;
	}
}

/* -----------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 575px) {
		.img-fluid {
				margin: 0 27%;
		}
		label {
				width: 88%;
		}
		.containt {
				display: none;
		}
		.menu {
				display: none;
		}
}


/* -----------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------*/

@media screen and (min-width: 768px) {
		.responsive {
				display: none;
		}
}


/* -----------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------*/

@media (max-width: 768px) {
	.container
	{
		width: 100%;
		.list-group {
				ul {
					flex-flow: column;
					li {
							margin: 1px auto;
							a {
								font-size: 1rem;
								line-height: 20px;
							}
					}
				}
	 	}
	}
	
	.menu-candidat
	{
		.hider
		{
			display: none;
			transition: all 1s;
		}
	}
	
}
